# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_WIRED_DIAMOND_LEFT

config ZMK_KEYBOARD_NAME
    default "Wired Diamond"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_WIRED_DIAMOND_LEFT || SHIELD_WIRED_DIAMOND_RIGHT

config ZMK_BLE
    default n
config ZMK_SPLIT_BLE
    default n
config ZMK_SPLIT_WIRED
    default y

endif