# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_CORNEISH_ZEN_DONGLE

config ZMK_KEYBOARD_NAME
    default "Corne-ish Zen"

config ZMK_BLE
	default y

config ZMK_USB
	default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT
	default y

endif