[submodule "modules/qmk/qmk_firmware"]
	path = modules/qmk/qmk_firmware
	url = https://github.com/qmk/qmk_firmware
[submodule "modules/getreuer/qmk-keymap"]
	path = modules/getreuer/qmk-keymap
	url = https://github.com/getreuer/qmk-keymap
[submodule "modules/rafaelromao/zmk"]
	path = modules/rafaelromao/zmk
	url = https://github.com/rafaelromao/zmk
[submodule "modules/caksoylar/zmk-rgbled-widget"]
	path = modules/caksoylar/zmk-rgbled-widget
	url = https://github.com/caksoylar/zmk-rgbled-widget
[submodule "modules/englmaxi/zmk-dongle-display"]
	path = modules/englmaxi/zmk-dongle-display
	url = https://github.com/englmaxi/zmk-dongle-display
