/*
*
* Copyright (c) 2022 Rafael Romão
* SPDX-License-Identifier: MIT
*
*/

/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LTP LTR LTM LTI LTC │ │ RTC RTI RTM RTR RTP │
  │ LHP LHR LHM LHI LHC │ │ RHC RHI RHM RHR RHP │
  │     LBR LBM LBI LBC │ │ RBC RBI RBM RBR     │
  ╰───────╮ L2  L1  L0  │ │ R0  R1  R2  ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

/ {
    #define ALPHA1_LAYERS               ALPHA1 ALT_OS CASE_A1 CPLK_A1 ALTREP2 SEN_CASE VIM_INSERT VIM_REPLACE
    #define CCEDIL_LAYERS               CCEDIL CASE_CCEDIL
    #define ALPHA2_LAYERS               ALPHA2 CASE_A2 SFT_A2
    #define NUM_LAYERS                  NUM NUM_CP
    #define SYM_LAYERS                  SYM SYM_CP
    #define NAV_LAYERS                  NAV NAV_CP
    #define VIM_LAYERS                  VIM_NORMAL VIM_CHANGE VIM_INSERT VIM_VISUAL VIM_REPLACE VIM_LEADER
    #define FIXABLE_LAYERS              ALPHA1_LAYERS CPLK_A1 CASE_A1 NUM_LAYERS MEDIA NAV_LAYERS MEHS FUN VIM_LAYERS
    #define ALL_LAYERS                  ALPHA1_LAYERS ALPHA2_LAYERS CCEDIL_LAYERS NUM_LAYERS NAV_LAYERS SYM_LAYERS MEDIA TEXT SHORTS VIM_LAYERS
    #define ALL_LAYERS_WITH_ENTER       ALPHA1_LAYERS ALPHA2_LAYERS CCEDIL_LAYERS NUM_LAYERS NAV_LAYERS SYM_LAYERS MEDIA TEXT        VIM_INSERT VIM_REPLACE
    #define ALL_LAYERS_WITH_BACKSPACE   ALPHA1_LAYERS ALPHA2_LAYERS CCEDIL_LAYERS NUM_LAYERS NAV_LAYERS SYM_LAYERS                   VIM_INSERT VIM_REPLACE
    #define ALL_LAYERS_WITH_ESC         ALPHA1_LAYERS ALPHA2_LAYERS CCEDIL_LAYERS VIM_NORMAL VIM_INSERT VIM_REPLACE MEHS             VIM_LAYERS

    combos {
        compatible = "zmk,combos";

        COMBO(cb_vim_mode,      LTR LTM LTI,     &mc_vim_reset,          ALPHA1_LAYERS VIM_LAYERS)

        COMBO(cb_enter,         RHM RHR R0,      &lm_ent_vim,            ALL_LAYERS_WITH_ENTER)
        COMBO(cb_backspace,     RTM RTR,         &kp BACKSPACE,          ALL_LAYERS_WITH_BACKSPACE)
        COMBO(cb_esc,           LTR LTM,         &lm_esc_vim,            ALL_LAYERS_WITH_ESC)

        COMBO(cb_esc_save,      LTR LTM L0,      &lm_save_esc_vim,       ALL_LAYERS)

        COMBO(cb_toggles_l,     LHI LHR,         &mo TOGS,               SHORTS)
        COMBO(cb_toggles_r,     RHI RHR,         &mo TOGS,               SHORTS)

        COMBO(cb_boot_l,        LTR LBI,         &bootloader,            ALL_LAYERS)
        COMBO(cb_boot_r,        RTR RBI,         &bootloader,            ALL_LAYERS)
        COMBO(cb_cancel,        RTM RTR RTI,     &tc_cancel,             FIXABLE_LAYERS)

        COMBO(cb_save,          LHR LHM L0,      &mc_save,               ALL_LAYERS)
        COMBO(cb_fullscr,       LHM LHI L0,      &mc_fullscr,            ALL_LAYERS)
        COMBO(cb_find,          LBM LBI L0,      &mc_find,               ALL_LAYERS)
        COMBO(cb_undo,          LBR LBM L0,      &mc_undo,               ALL_LAYERS)
        COMBO(cb_tab,           RTM RTR R0,      &kp TAB,                ALL_LAYERS)
        COMBO(cb_paste,         RBI RBM R0,      &th_paste 0 0,          ALL_LAYERS)
        COMBO(cb_copy,          RHI RHM R0,      &th_copy 0 0,           ALL_LAYERS)
        COMBO(cb_selall,        RBM RBR R0,      &mc_selall,             ALL_LAYERS)
        COMBO(cb_selcopy,       RHI RHM RHR R0,  &th_selcopy 0 0,        ALL_LAYERS)
        COMBO(cb_selpaste,      RBI RBM RBR R0,  &th_selpaste 0 0,       ALL_LAYERS)
        COMBO(cb_left,          RHI R0,          &kp LEFT,               ALL_LAYERS)
        COMBO(cb_down,          RHM R0,          &kp DOWN,               ALL_LAYERS)
        COMBO(cb_up,            RHR R0,          &kp UP,                 ALL_LAYERS)
        COMBO(cb_right,         RHP R0,          &lt_right MACROS 0,     ALL_LAYERS)
        COMBO(cb_del,           RBI R0,          &kp DELETE,             ALL_LAYERS)
        COMBO(cb_home,          RBM R0,          &kp HOME,               ALL_LAYERS)
        COMBO(cb_end,           RBR R0,          &kp END,                ALL_LAYERS)

        COMBO(cb_mleft,         LHR L0,          &mmv MOVE_LEFT,         ALL_LAYERS)
        COMBO(cb_mup,           LHM L0,          &mmv MOVE_UP,           ALL_LAYERS)
        COMBO(cb_mright,        LHI L0,          &mmv MOVE_RIGHT,        ALL_LAYERS)
        COMBO(cb_mdown,         LBM L0,          &mmv MOVE_DOWN,         ALL_LAYERS)
        COMBO(cb_sdown,         LBR L0,          &msc SCRL_DOWN,         ALL_LAYERS)
        COMBO(cb_sup,           LBI L0,          &msc SCRL_UP,           ALL_LAYERS)
        COMBO(cb_mlclk,         LTM L0,          &mkp LCLK,              ALL_LAYERS)
        COMBO(cb_mlclk2,        LTC L2,          &mkp LCLK,              ALL_LAYERS)
        COMBO(cb_mrclk,         LTI L0,          &mkp RCLK,              ALL_LAYERS)
        COMBO(cb_mrclk2,        RTC R2,          &mkp RCLK,              ALL_LAYERS)

        COMBO(cb_numword,       LBR LBM,         &lt_num_word NAV 0,     ALPHA1_LAYERS)
        COMBO(cd_ca_nav,        LHR LHM L1,      &mc_ca_nav,             ALPHA1_LAYERS)
        COMBO(cd_gcs_nav,       LBR LHM LHI L1,  &mc_gcs_nav,            ALPHA1_LAYERS)
        COMBO(cd_cag_nav,       LHR LHM LBI L1,  &mc_cag_nav,            ALPHA1_LAYERS)
        COMBO(cd_cas_spc,       LHR LHM LHI L0,  &mc_cas_spc,            ALPHA1_LAYERS)

        COMBO(cd_meh_spc,       LHR LHM LHI,     &ht_meh_spc 0 0,        ALPHA1_LAYERS)
        COMBO(cd_hyp_spc,       LBR LBM LBI,     &th_hyper_space 0 0,    ALPHA1_LAYERS)
        COMBO(cb_meh_ent,       RHI RHM RHR,     &ht_meh_ent 0 0,        ALPHA1_LAYERS)
        COMBO(cb_hyp_ent,       RBI RBM RBR,     &th_hyper_enter 0 0,    ALPHA1_LAYERS)

        COMBO(cb_semi,          RBM RBR,         &th_semi 0 0,           ALPHA1_LAYERS NUM_LAYERS VIM_NORMAL VIM_INSERT VIM_REPLACE)
        COMBO(cb_sent,          RBI RBM RBR,     &mc_end_semi_ent_vim,   NUM_LAYERS)

        COMBO(cb_k,             LTM LTI,         &kp K,                  ALPHA1 VIM_INSERT VIM_REPLACE)
        COMBO(cb_w,             LHM LHI,         &ht_w 0 0,              ALPHA1 VIM_INSERT VIM_REPLACE)
        COMBO(cb_v,             LBI LBM,         &kp V,                  ALPHA1 VIM_INSERT VIM_REPLACE)
        COMBO(cb_q,             LHR LHM,         &ht_q 0 0,              ALPHA1 VIM_INSERT VIM_REPLACE)

        COMBO(cb_kc,            LTM LTI,         &kp LS(K),              CASE_A1 CPLK_A1)
        COMBO(cb_wc,            LHM LHI,         &kp LS(W),              CASE_A1 CPLK_A1)
        COMBO(cb_vc,            LBI LBM,         &kp LS(V),              CASE_A1 CPLK_A1)
        COMBO(cb_qc,            LHR LHM,         &kp LS(Q),              CASE_A1 CPLK_A1)

        COMBO(cb_x,             RTI RTM,         &kp X,                  ALPHA1 VIM_INSERT VIM_REPLACE)
        COMBO(cb_z,             RHI RHM,         &ht_z 0 0,              ALPHA1 VIM_INSERT VIM_REPLACE)
        COMBO(cb_j,             RBI RBM,         &kp J,                  ALPHA1 VIM_INSERT VIM_REPLACE)
        COMBO(cb_y,             RHM RHR,         &ht_y 0 0,              ALPHA1 VIM_INSERT VIM_REPLACE)

        COMBO(cb_xc,            RTI RTM,         &kp LS(X),              CASE_A1 CPLK_A1)
        COMBO(cb_zc,            RHI RHM,         &kp LS(Z),              CASE_A1 CPLK_A1)
        COMBO(cb_jc,            RBI RBM,         &kp LS(J),              CASE_A1 CPLK_A1)
        COMBO(cb_yc,            RHM RHR,         &kp LS(Y),              CASE_A1 CPLK_A1)
        COMBO(cb_dc,            RTI RTM RTR,     &kp LS(D),              CASE_A1 CPLK_A1)
        COMBO(cb_pc,            RHI RHM RHR,     &kp LS(P),              CASE_A1 CPLK_A1)

        COMBO(cb_grv_vim,       LTM LTI,         &kp GRAVE,              VIM_NORMAL VIM_VISUAL)
        COMBO(cb_x_vim,         RTI RTM,         &kp X,                  VIM_NORMAL VIM_VISUAL)
        COMBO(cb_d_vim,         RTM RTR,         &kp D,                  VIM_NORMAL VIM_VISUAL)
        COMBO(cb_z_vim,         LHR LHM,         &kp Z,                  VIM_NORMAL VIM_VISUAL)
        COMBO(cb_m_vim,         LHM LHI,         &kp M,                  VIM_NORMAL VIM_VISUAL)
        COMBO(cb_p_vim,         RHI RHM,         &kp P,                  VIM_NORMAL VIM_VISUAL)
        COMBO(cb_y_vim,         RHM RHR,         &kp Y,                  VIM_NORMAL VIM_VISUAL)
        COMBO(cb_at_vim,        LBM LBI,         &kp AT,                 VIM_NORMAL VIM_VISUAL)
        COMBO(cb_v_vim,         RBI RBM,         &lm_v_vim,              VIM_NORMAL VIM_VISUAL)

        COMBO(cb_meh_k,         LTI LTM,         &mc_meh_k,              MEHS)
        COMBO(cb_meh_w,         LHI LHM,         &mc_meh_w,              MEHS)
        COMBO(cb_meh_v,         LBI LBM,         &mc_meh_v,              MEHS)
        COMBO(cb_meh_x,         RTI RTM,         &mc_meh_x,              MEHS)
        COMBO(cb_meh_z,         RHI RHM,         &mc_meh_z,              MEHS)
        COMBO(cb_meh_j,         RBI RBM,         &mc_meh_j,              MEHS)
        COMBO(cb_meh_q,         LHR LHM,         &mc_meh_q,              MEHS)
        COMBO(cb_meh_y,         RHR RHM,         &mc_meh_y,              MEHS)
        COMBO(cb_numbers_cl,    LBM LBR,         &tc_num_word_cp,        MEHS)
        COMBO(cb_numbers_cr,    RBM RBR,         &tc_num_word_cp,        MEHS)
        COMBO(cd_meh_spc_mc,    LHR LHM LHI,     &mc_meh_space,          MEHS)
        COMBO(cd_hyp_spc_mc,    LBR LBM LBI,     &mc_hyper_space,        MEHS)
        COMBO(cd_meh_ent_mc,    RHR RHM RHI,     &mc_meh_enter,          MEHS)
        COMBO(cd_hyp_ent_mc,    RBR RBM RBI,     &mc_hyper_enter,        MEHS)

        COMBO(cb_comm,          RHP R0,          &kp COMMA,              NUM_LAYERS)
        COMBO(cb_sft_g,         RTI RTM,         &kp LS(G),              NUM_LAYERS)
        COMBO(cb_jv,            RHI RHM,         &kp J,                  NUM_LAYERS)
        COMBO(cb_kv,            RHM RHR,         &kp K,                  NUM_LAYERS)
        COMBO(cb_pipev,         RBI RBM,         &kp PIPE,               NUM_LAYERS)

        COMBO(cb_braces_new,    LTR LTM,         &mc_braces_new,         NUM_LAYERS)
        COMBO(cb_pars,          LHR LHM,         &th_pars 0 0,           NUM_LAYERS)
        COMBO(cb_brackets,      LBR LBM,         &lt_brackets NAV 0,     NUM_LAYERS)
        COMBO(cb_enddoent,      LTM LTI,         &mc_end_do_ent,         NUM_LAYERS)
        COMBO(cb_and,           LHI LHM,         &th_and 0 0,            NUM_LAYERS)
        COMBO(cb_or,            LBI LBM,         &th_or 0 0,             NUM_LAYERS)
        COMBO(cb_par_semi,      RHR RHM RHI,     &mc_pars_semi_ent,      NUM_LAYERS)

        COMBO(cd_meh_l,         LHR LHM LHI,     &th_ord_o 0 0,          NUM_LAYERS)
        COMBO(cd_hyper_n,       LBR LBM LBI,     &th_ord_a 0 0,          NUM_LAYERS)

        COMBO(cb_darrow,        LTR LTM,         &th_darrow 0 0,         SYM_LAYERS)
        COMBO(cb_sarrow,        LHR LHM,         &th_sarrow 0 0,         SYM_LAYERS)
        COMBO(cb_concat,        LBR LBM,         &th_concat 0 0,         SYM_LAYERS)
        COMBO(cb_hcurly,        LTM LTI,         &mc_hcurly,             SYM_LAYERS)
        COMBO(cb_dcurly,        LHM LHI,         &mc_dcurly,             SYM_LAYERS)
        COMBO(cb_forward,       LBM LBI,         &th_forward 0 0,        SYM_LAYERS)
        COMBO(cb_tdqo,          LHR LHM LHI,     &th_tdqo 0 0,           SYM_LAYERS)
        COMBO(cb_tbti,          LBR LBM LBI,     &th_tbti 0 0,           SYM_LAYERS)
        COMBO(cb_us,            RTR RTM RTI,     &th_us 0 0,             SYM_LAYERS)
        COMBO(cb_br,            RHR RHM RHI,     &th_br 0 0,             SYM_LAYERS)
        COMBO(cb_eu,            RBR RBM RBI,     &th_eur 0 0,            SYM_LAYERS)

        COMBO(cb_pcurly,        RTI RTM,         &mc_pcurly,             SYM_LAYERS)
        COMBO(cb_eqeq,          RHM RHR,         &th_eqeq 0 0,           SYM_LAYERS)
        COMBO(cb_noteq,         RBM RBR,         &th_noteq 0 0,          SYM_LAYERS)
        COMBO(cb_backword,      RHI RHM,         &th_backward 0 0,       SYM_LAYERS)
        COMBO(cb_colon_colon,   RBI RBM,         &th_dcolon 0 0,         SYM_LAYERS)

        COMBO(cb_btclr,         LTM LTR,         &bt BT_CLR,             FUN)
        COMBO(cb_f10,           RBM RBI,         &kp F10,                FUN)
        COMBO(cb_f11,           RHM RHI,         &kp F11,                FUN)
        COMBO(cb_f12,           RTM RTI,         &kp F12,                FUN)
        COMBO(cb_f13,           RBM RBR,         &kp F13,                FUN)
        COMBO(cb_f14,           RHM RHR,         &kp F14,                FUN)
        COMBO(cb_f15,           RTM RTR,         &kp F15,                FUN)

        COMBO(cb_minus,         RTI RTM,         &kp MINUS,              ALPHA2_LAYERS)
        COMBO(cb_dqo_s,         LTM LTI,         &kp DQT,                ALPHA2_LAYERS)
        COMBO(cb_sqo_s,         LHM LHI,         &kp SQT,                ALPHA2_LAYERS)
        COMBO(cb_bti_s,         LBM LBR,         &kp GRAVE,              ALPHA2_LAYERS)
        COMBO(cb_caret_s,       LHR LHM,         &kp CARET,              ALPHA2_LAYERS)
        COMBO(cb_tilde_s,       LBI LBM,         &kp TILDE,              ALPHA2_LAYERS)
        COMBO(cb_ques,          RHI RHM,         &mc_qmark,              ALPHA2_LAYERS)
        COMBO(cb_excl,          RBI RBM,         &mc_excl,               ALPHA2_LAYERS)
        COMBO(cb_colon,         RBM RBR,         &kp COLON,              ALPHA2_LAYERS)

        COMBO(cb_grva,          RHM RHR,         &ac_agrv,               ALPHA2)
        COMBO(cb_grvas,         RHM RHR,         &ac_agrv_s,             SFT_A2)
        COMBO(cb_grvac,         RHM RHR,         &ac_agrv_c,             CASE_A2)

        COMBO(cb_bsp_word,      RTM RTR,         &mc_bsp_word,           TEXT)
        COMBO(cb_o_esc,         RHI RHM,         &mc_o_esc,              TEXT)
        COMBO(cb_sft_o_esc,     RHM RHR,         &mc_sft_o_esc,          TEXT)
        COMBO(cb_dqt0p,         RHI RHM RHR,     &mc_dqt0p,              TEXT)
        COMBO(cb_v_r,           RBI RBM RBR,     &kp V,                  TEXT)
        COMBO(cb_shiftv,        RBM RBR,         &kp LS(V),              TEXT)
        COMBO(cb_ctrlv,         RBI RBM,         &kp LC(V),              TEXT)

        COMBO(cb_enter_vim,     RTI RTM,         &tog VIM_NORMAL,        MACROS)
        COMBO(cb_leave_vim,     RTM RTR,         &tc_cancel,             MACROS)

        COMBO(cb_numbers_nav,   LBR LBM,         &mo NUM_CP,             NAV_LAYERS)
        COMBO(cd_ca,            LHR LHM,         &kp LC(LALT),           NAV_LAYERS)

        COMBO(cb_down_end,      RBI RBM,         &mc_down_end,           NAV_LAYERS)
        COMBO(cb_numbers,       RBM RBR,         &mo NUM_CP,             NAV_LAYERS)
        COMBO(cb_up_end_del,    RTM RTI,         &mc_up_end_del,         NAV_LAYERS)
        COMBO(cb_page_down,     RHM RHI,         &kp PAGE_DOWN,          NAV_LAYERS)
        COMBO(cb_page_up,       RHM RHR,         &kp PAGE_UP,            NAV_LAYERS)

        COMBO(cb_hand,          RTM RTI,         &mc_hand,               MEDIA)
        COMBO(cb_lclick,        RHM RHI,         &mkp LCLK,              MEDIA)
        COMBO(cb_rclick,        RHM RHR,         &mkp RCLK,              MEDIA)
    };

    combo_must_tap {
        MACRO(mc_lshift_lshift    , &macro_tap &kp LSFT &kp LSFT)
        MACRO(mc_lctrl_lctrl      , &macro_tap &kp LCTL &kp LCTL)
        MACRO(mc_lalt_lalt        , &macro_tap &kp LALT &kp LALT)
        MACRO(mc_ralt_ralt        , &macro_tap &kp LALT &kp LALT)
        MACRO(mc_lgui_lgui        , &macro_tap &kp LGUI &kp LGUI)

        MACRO(mc_ca_nav           , &macro_press &kp LCTL &kp LALT &mo NAV &macro_pause_for_release &macro_release &mo NAV &kp LCTL &kp LALT)
        MACRO(mc_gcs_nav          , &macro_press &kp LGUI &kp LCTL &kp LSFT &mo NAV &macro_pause_for_release &macro_release &mo NAV &kp LGUI &kp LCTL &kp LSFT)
        MACRO(mc_cag_nav          , &macro_press &kp LCTL &kp LALT &kp LGUI &mo NAV &macro_pause_for_release &macro_release &mo NAV &kp LCTL &kp LALT &kp LGUI)
        MACRO(mc_cas_spc          , &macro_press &kp LCTL &kp LALT &kp LSFT &mo NUM &macro_pause_for_release &macro_release &mo NUM &kp LCTL &kp LALT &kp LSFT)

        COMBO_MUST_TAP(ht_w       , &kp LSFT &kp LALT          , &kp W)
        COMBO_MUST_TAP(ht_q       , &kp LCTL &kp LALT          , &kp Q)
        COMBO_MUST_TAP(ht_z       , &kp LSFT &kp LALT          , &kp Z)
        COMBO_MUST_TAP(ht_y       , &kp LALT &kp LCTL          , &kp Y)
        COMBO_MUST_TAP(ht_meh_spc , &kp LCTL &kp LALT &kp LSFT , &mc_meh_space)
        COMBO_MUST_TAP(ht_meh_ent , &kp LCTL &kp LALT &kp LSFT , &mc_meh_enter)
    };
};
