/*
*
* Copyright (c) 2025 Rafael Romão
* SPDX-License-Identifier: MIT
*
*/

#include <dt-bindings/zmk/hid_usage.h>

/ {
    hid_listeners {
        compatible = "zmk,hid-listeners";

        num_lock {           
            indicator = <HID_USAGE_LED_NUM_LOCK>;
            bindings = <&mc_vim_off &mc_vim_reset>; // vim mode on if num lock is off
        };
    };
};
