#include <dt-bindings/zmk/hid_usage.h>

/ {
    hid_listeners {
        compatible = "zmk,hid-listeners";

        scroll_lock {           
            indicator = <HID_USAGE_LED_SCROLL_LOCK>;
            bindings = <&mc_vim_reset &mc_vim_off>;
        };
    };
};
