/*
*
* Copyright (c) 2022 Rafael Romão
* SPDX-License-Identifier: MIT
*
*/

/ {
    symbols {
        // Base

        SHIFT_MORPH(mm_semi,          &kp SEMI, &kp COLON)
        MACRO(mc_end_semi,            &kp END &kp SEMI)
        TAPHOLD_TP(th_semi,           &mm_semi, &mc_end_semi)

        MACRO(mc_end_semi_ent,        &kp END &kp SEMI &kp ENTER)

        MACRO(mc_h,                   &kp H)
        TAPHOLD_TP(th_hyper_h,        &mc_h, &mc_hyper)

        MACRO(mc_comma,               &kp COMMA)
        MACRO(mc_end_comma,           &kp END &kp COMMA )
        TAPHOLD_TP(th_comma,          &mc_comma, &mc_end_comma)

        MACRO(mc_dot,                 &kp DOT )
        MACRO(mc_end_dot,             &kp END &kp DOT )
        TAPHOLD_TP(th_dot,            &mm_dot_meh, &mc_end_dot)

        // Numbers

        SHIFT_MEH(mc_n0,              &kp N0, &kp KP_N0)
        SHIFT_MEH(mc_n1,              &kp N1, &kp KP_N1)
        SHIFT_MEH(mc_n2,              &kp N2, &kp KP_N2)
        SHIFT_MEH(mc_n3,              &kp N3, &kp KP_N3)
        SHIFT_MEH(mc_n4,              &kp N4, &kp KP_N4)
        SHIFT_MEH(mc_n5,              &kp N5, &kp KP_N5)
        SHIFT_MEH(mc_n6,              &kp N6, &kp KP_N6)
        SHIFT_MEH(mc_n7,              &kp N7, &kp KP_N7)
        SHIFT_MEH(mc_n8,              &kp N8, &kp KP_N8)
        SHIFT_MEH(mc_n9,              &kp N9, &kp KP_N9)

        LAYERTAP_TP(lt_n0,            &mc_n0)

        MACRO(mc_sqo,                 &kp SQT &kp SPACE)
        MACRO(mc_end_sqo,             &kp END &mc_sqo)
        TAPHOLD_TP(th_sqo,            &mc_sqo, &mc_end_sqo)

        MACRO(mc_dqo,                 &kp DQT &kp SPACE)
        MACRO(mc_end_dqo,             &kp END &mc_dqo)
        TAPHOLD_TP(th_dqo,            &mc_dqo, &mc_end_dqo)

        MACRO(mc_bti,                 &kp GRAVE &kp SPACE)
        MACRO(mc_end_bti,             &kp END &mc_bti)
        TAPHOLD_TP(th_bti,            &mc_bti, &mc_end_bti)

        MACRO(mc_tilde,               &kp TILDE &kp SPACE)
        LAYERTAP_TP(lt_tilde,         &mc_tilde)

        MACRO(mc_and,                 &kp AMPS &kp AMPS)
        MACRO(mc_right_and,           &kp RIGHT &kp AMPS &kp AMPS)
        TAPHOLD_TP(th_and,            &mc_and, &mc_right_and)

        MACRO(mc_or,                  &kp PIPE &kp PIPE)
        MACRO(mc_right_or,            &kp RIGHT &kp PIPE &kp PIPE)
        TAPHOLD_TP(th_or,             &mc_or, &mc_right_or)

        MACRO(mc_rpar,                &kp RPAR)
        MACRO(mc_end_rpar,            &kp END &kp RPAR)
        TAPHOLD_TP(th_rpar,           &mc_rpar, &mc_end_rpar)

        MACRO(mc_lpar,                &kp LPAR)
        MACRO(mc_end_lpar,            &kp END &kp LPAR)
        TAPHOLD_TP(th_lpar,           &mc_lpar, &mc_end_lpar)

        MACRO(mc_rbkt,                &kp RBKT)
        MACRO(mc_end_rbkt,            &kp END &kp RBKT)
        TAPHOLD_TP(th_rbkt,           &mc_rbkt, &mc_end_rbkt)

        MACRO(mc_lbkt,                &kp LBKT)
        MACRO(mc_end_lbkt,            &kp END &kp LBKT)
        TAPHOLD_TP(th_lbkt,           &mc_lbkt, &mc_end_lbkt)

        MACRO(mc_end_qmark,           &kp END &mc_qmark_a1 )
        TAPHOLD_TP(th_qmark,          &mc_qmark_a1, &mc_end_qmark)

        MACRO(mc_rbrc,                &kp RBRC)
        MACRO(mc_end_rbrc,            &kp END &kp RBRC)
        TAPHOLD_TP(th_rbrc,           &mc_rbrc, &mc_end_rbrc)

        MACRO(mc_lbrc,                &kp LBRC)
        MACRO(mc_end_lbrc,            &kp END &kp LBRC)
        TAPHOLD_TP(th_lbrc,           &mc_lbrc, &mc_end_lbrc)

        MACRO(mc_pars,                &kp LPAR &kp RPAR)
        MACRO(mc_end_pars,            &kp END &kp LPAR &kp RPAR)
        TAPHOLD_TP(th_pars,           &mc_pars, &mc_end_pars)

        MACRO(mc_brackets,            &kp LBKT &kp RBKT)
        LAYERTAP_TP(lt_brackets,      &mc_brackets)

        MACRO(mc_deg,                 &kp LS(LA(N8)))
        LAYERTAP_TP(lt_deg,           &mc_deg)

        // Symbols

        MACRO(mc_us,                  &kp LS(U) &kp LS(S) &kp DOLLAR)
        MACRO(mc_usd,                 &kp LS(U) &kp LS(S) &kp LS(D))
        TAPHOLD_TP(th_us,             &mc_us, &mc_usd)
        MACRO(mc_br,                  &kp LS(R) &kp DOLLAR)
        MACRO(mc_brl,                 &kp LS(B) &kp LS(R) &kp LS(L))
        TAPHOLD_TP(th_br,             &mc_br, &mc_brl)
        MACRO(mc_euro,                &kp LS(LA(N2)))
        MACRO(mc_eur,                 &kp LS(E) &kp LS(U) &kp LS(R))
        TAPHOLD_TP(th_eur,            &mc_euro, &mc_eur)

        MACRO(mc_pars_semi_ent,       &kp END &kp LPAR &kp RPAR &kp SEMI &kp ENTER)

        MACRO(mc_tdqo,                &mc_dqo &mc_dqo &mc_dqo)
        MACRO(mc_tdqo_ent,            &mc_tdqo &kp ENTER)
        TAPHOLD_TP(th_tdqo,           &mc_tdqo, &mc_tdqo_ent)

        MACRO(mc_tbti,                &mc_bti &mc_bti &mc_bti)
        MACRO(mc_tbti_ent,            &mc_tbti &kp ENTER)
        TAPHOLD_TP(th_tbti,           &mc_tbti, &mc_tbti_ent)

        MACRO(mc_braces_new,          &kp END &kp LBRC &kp ENTER)

        MACRO(mc_sarrow,              &kp MINUS &kp GT)
        MACRO(mc_end_sarrow,          &kp END &kp MINUS &kp GT)
        TAPHOLD_TP(th_sarrow,         &mc_sarrow, &mc_end_sarrow)

        MACRO(mc_darrow,              &kp EQUAL &kp GT)
        MACRO(mc_end_darrow,          &kp END &kp EQUAL &kp GT)
        TAPHOLD_TP(th_darrow,         &mc_darrow, &mc_end_darrow)

        MACRO(mc_forward,             &kp PIPE &kp GT)
        MACRO(mc_end_forward,         &kp END &kp ENTER &kp PIPE &kp GT)
        TAPHOLD_TP(th_forward,        &mc_forward, &mc_end_forward)

        MACRO(mc_backward,            &kp LT &kp MINUS)
        MACRO(mc_end_backward,        &kp END &kp ENTER &kp PIPE &kp GT)
        TAPHOLD_TP(th_backward,       &mc_backward, &mc_end_backward)

        MACRO(mc_concat,              &kp LT &kp GT)
        MACRO(mc_end_concat,          &kp END &kp LT &kp GT)
        TAPHOLD_TP(th_concat,         &mc_concat, &mc_end_concat)

        MACRO(mc_dcurly,              &kp DOLLAR &kp LBRC)
        MACRO(mc_hcurly,              &kp HASH &kp LBRC)
        MACRO(mc_pcurly,              &kp PERCENT &kp LBRC)
        MACRO(mc_dcolon,              &kp COLON &kp COLON)

        MACRO(mc_end_dcolon,          &kp END &kp COLON &kp COLON)
        TAPHOLD_TP(th_dcolon,         &mc_dcolon, &mc_end_dcolon)

        MACRO(mc_perc,                &kp PERCENT)
        MACRO(mc_end_perc,            &kp END &kp PERCENT)
        TAPHOLD_TP(th_perc,           &mc_perc, &mc_end_perc)

        MACRO(mc_lt,                  &kp LT)
        MACRO(mc_gt,                  &kp GT)

        MACRO(mc_excl,                &kp EXCL )
        MACRO(mc_end_excl,            &kp END &kp EXCL )
        TAPHOLD_TP(th_excl,           &mc_excl, &mc_end_excl)

        MACRO(mc_end_colon,           &kp END &mc_colon_a1)
        TAPHOLD_TP(th_colon,          &mc_colon_a1, &mc_end_colon)

        MACRO(mc_eql,                 &kp EQUAL)
        MACRO(mc_end_eql,             &kp END &kp EQUAL)
        TAPHOLD_TP(th_eql,            &mc_eql, &mc_end_eql)

        MACRO(mc_eqeq,                &kp EQUAL &kp EQUAL)
        MACRO(mc_end_eqeq,            &kp END &kp EQUAL &kp EQUAL)
        TAPHOLD_TP(th_eqeq,           &mc_eqeq, &mc_end_eqeq)

        MACRO(mc_noteq,               &kp EXCL &kp EQUAL)
        MACRO(mc_end_noteq,           &kp END &kp EXCL &kp EQUAL)
        TAPHOLD_TP(th_noteq,          &mc_noteq, &mc_end_noteq)

        MACRO(mc_tisl,                &kp TILDE &kp SPACE &kp SLASH)
        MACRO(mc_ds,                  &kp DOT &kp SLASH)
        MACRO(mc_dds,                 &kp DOT &kp DOT &kp SLASH)

        MACRO(mc_ord_o,               &kp LA(N0))
        MACRO(mc_ord_a,               &kp LA(N9))
        TAPHOLD_TP(th_ord_o,          &mc_ord_o, &mc_meh)
        TAPHOLD_TP(th_ord_a,          &mc_ord_a, &mc_hyper)

        MACRO(mc_qr,                  &kp Q &kp R)
        MACRO(mc_atr,                 &kp AT &kp R)
        MACRO(mc_atat,                &kp AT &kp AT)

        // Macros

        MACRO(mc_exit,  &kp E &kp X &kp I &kp T &kp ENTER)
        MACRO(mc_haha,  &kp H &kp A &kp H &kp A &kp ENTER)
        MACRO(mc_hugs,  &kp LBKT &kp RBKT &kp SQT &kp S)
        MACRO(mc_otask, &kp MINUS &kp SPACE &kp LBKT &kp SPACE &kp RBKT &kp SPACE)
        MACRO(mc_oref,  &kp LBKT &kp LBKT)
        MACRO(mc_end_do_ent, &kp END &kp D &kp O &kp ENTER)

        // Vim

        MACRO(mc_ent_vim,  &kp ENTER &to VIM)

        MACRO(mc_colon_a1,  &kp COLON &to ALPHA1)
        MACRO(mc_slash_a1,  &kp SLASH &to ALPHA1)
        MACRO(mc_qmark_a1,  &kp QMARK &to ALPHA1)

        MACRO(mc_left_a1,   &kp LEFT &to ALPHA1)
        MACRO(mc_right_a1,  &kp RIGHT &to ALPHA1)
        MACRO(mc_enter_a1,  &kp ENTER &to ALPHA1)
        MACRO(mc_esc_a1,    &kp ESC &to ALPHA1)

        MOD_MORPH_KM(mm_left_a1 , MOD_LALT|MOD_RALT|MOD_LCTL|MOD_RCTL|MOD_LSFT|MOD_RSFT|MOD_LGUI|MOD_RGUI, &mc_left_a1, &kp LEFT)
        MOD_MORPH_KM(mm_right_a1, MOD_LALT|MOD_RALT|MOD_LCTL|MOD_RCTL|MOD_LSFT|MOD_RSFT|MOD_LGUI|MOD_RGUI, &mc_right_a1, &kp RIGHT)
        MOD_MORPH_KM(mm_enter_a1, MOD_LALT|MOD_RALT|MOD_LCTL|MOD_RCTL|MOD_LSFT|MOD_RSFT|MOD_LGUI|MOD_RGUI, &mc_enter_a1, &kp ENTER)
        MOD_MORPH_KM(mm_esc_a1  , MOD_LALT|MOD_RALT|MOD_LCTL|MOD_RCTL|MOD_LSFT|MOD_RSFT|MOD_LGUI|MOD_RGUI, &mc_esc_a1, &kp ESC)

        MACRO(mc_o_a1,  &kp O &to ALPHA1)
        MACRO(mc_a_a1,  &kp A &to ALPHA1)
        MACRO(mc_i_a1,  &kp I &to ALPHA1)
        MACRO(mc_c_a1,  &kp C &to ALPHA1)
        MACRO(mc_s_a1,  &kp S &to ALPHA1)
        MACRO(mc_r_p1,  &kp R &sl PLAIN1)

        MODTAP_TP(mt_i_a1, &mc_i_a1)
        MODTAP_TP(mt_c_a1, &mc_c_a1)
        MODTAP_TP(mt_s_a1, &mc_s_a1)
        MODTAP_TP(mt_r_p1, &mc_r_p1)
    };
};
