/*
*
* Copyright (c) 2022 Rafael Romão
* SPDX-License-Identifier: MIT
*
*/

/ {
    vim {

        MACRO(mc_spc_esc,         &kp A &macro_press &kp SPACE &macro_pause_for_release &macro_release &kp SPACE &macro_tap &kp ESC)
        MACRO(mc_dqt0p,           &kp DQT &kp SPACE &kp N0 &kp P)
        MACRO(mc_dqt1p,           &kp DQT &kp SPACE &kp N1 &kp P)
        MACRO(mc_dqtplusp,        &kp DQT &kp SPACE &kp PLUS &kp P)
        MACRO(mc_dqtplusy,        &kp DQT &kp SPACE &kp PLUS &kp Y)
        MACRO(mc_vim_replace,     &kp COLON &kp PERCENT &kp S &kp SLASH &to ALPHA1)

        mc_caret: mc_caret {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&macro_tap &kp CARET &kp SPACE>;
        };

        mc_zero: mc_zero {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&macro_tap &kp N0>;
        };

        vim_home: vim_home {
            compatible = "zmk,behavior-adaptive-key";
            #binding-cells = <0>;
            bindings = <&mc_caret>;

            ADAPTIVE(caret_zero, &mc_zero, SPACE)
        };

        TAPHOLD_TP(th_caret_z, &vim_home, &mc_zero)

        MACRO(mc_o_esc,         &macro_tap &kp O &kp ESC)
        MACRO(mc_sft_o_esc,     &macro_tap &kp LS(O) &kp ESC)


        /* Vim Mode */
        MACRO(mc_vim_off        , &tog_off VIM_NORMAL &tog_off VIM_VISUAL &tog_off VIM_INSERT &tog_off VIM_REPLACE &tog_off VIM_LEADER)

        // MACRO(mc_spc_lead_vim   , &kp SPACE &sl VIM_LEADER)
        MACRO(mc_spc_lead_vim   , &kp SPACE)
        LAYERTAP_TP(lt_lead_vim , &mc_spc_lead_vim)

        MACRO(mc_slash_vim            , &mc_vim_off &tog_on VIM_INSERT &kp SLASH)
        MACRO(mc_end_semi_ent_vim     , &mc_vim_off &tog_on VIM_INSERT &mc_end_semi_ent)

        MACRO(mc_colon_vim            , &mc_vim_off &tog_on VIM_INSERT &mc_colon)
        MACRO(mc_end_colon_vim        , &mc_vim_off &tog_on VIM_INSERT &mc_end_colon)
        LAYER_MORPH(lm_colon_vim      , VIM_NORMAL, &mc_colon_vim      , &mc_colon)
        LAYER_MORPH(lm_end_colon_vim  , VIM_NORMAL, &mc_end_colon_vim  , &mc_end_colon_vim)
        TAPHOLD_TP(th_colon_vim       , &lm_colon_vim, &lm_end_colon_vim)

        MACRO(mc_ent_vim,       &mc_vim_off &tog_on VIM_NORMAL &kp ENTER)
        MACRO(mc_esc_vim,       &mc_vim_off &tog_on VIM_NORMAL &kp ESC  )
        MACRO(mc_end_ent_vim,   &mc_vim_off &tog_on VIM_NORMAL &mc_end_ent)
        MACRO(mc_save_esc_vim,  &mc_vim_off &tog_on VIM_NORMAL &mc_save_esc)

        LAYER_MORPH(lm_ent_vim      , VIM_INSERT, &mc_ent_vim      , &kp ENTER)
        LAYER_MORPH(lm_esc_vim      , VIM_INSERT, &mc_esc_vim      , &kp ESC)
        LAYER_MORPH(lm_end_ent_vim  , VIM_INSERT, &mc_end_ent_vim  , &mc_end_ent)
        LAYER_MORPH(lm_save_esc_vim , VIM_INSERT, &mc_save_esc_vim , &mc_save_esc)

        MACRO(mc_o_vim,  &kp O &tog_off VIM_NORMAL &tog_on VIM_INSERT)
        MACRO(mc_a_vim,  &kp A &tog_off VIM_NORMAL &tog_on VIM_INSERT)
        MACRO(mc_i_vim,  &kp I &tog_off VIM_NORMAL &tog_on VIM_INSERT)
        MACRO(mc_c_vim,  &kp C &tog_off VIM_NORMAL &tog_on VIM_INSERT &sl VIM_CHANGE)
        MACRO(mc_ca_vim, &kp A &sl VIM_CHANGE)
        MACRO(mc_ci_vim, &kp I &sl VIM_CHANGE)
        MACRO(mc_ce_vim, &kp E &none) // reset antecedent key for magic keys
        MACRO(mc_s_vim,  &kp S &tog_off VIM_NORMAL &fsl VIM_NORMAL &tog_on VIM_INSERT)
        MACRO(mc_r_vim,  &kp R &sl VIM_REPLACE)

        MODTAP_TP(mt_i_vim, &mc_i_vim)
        MODTAP_TP(mt_c_vim, &mc_c_vim)
        MODTAP_TP(mt_s_vim, &mc_s_vim)
        MODTAP_TP(mt_r_vim, &mc_r_vim)

        MACRO(mc_left_vim,      &mc_vim_off &kp LEFT )
        MACRO(mc_right_vim,     &mc_vim_off &kp RIGHT)
                                
        MOD_MORPH_KM(mm_left_vim  , MOD_LALT|MOD_RALT|MOD_LCTL|MOD_RCTL|MOD_LSFT|MOD_RSFT|MOD_LGUI|MOD_RGUI, &mc_left_vim  , &kp LEFT)
        MOD_MORPH_KM(mm_right_vim , MOD_LALT|MOD_RALT|MOD_LCTL|MOD_RCTL|MOD_LSFT|MOD_RSFT|MOD_LGUI|MOD_RGUI, &mc_right_vim , &kp RIGHT)
        MOD_MORPH_KM(mm_ent_vim   , MOD_LALT|MOD_RALT|MOD_LCTL|MOD_RCTL|MOD_LSFT|MOD_RSFT|MOD_LGUI|MOD_RGUI, &mc_ent_vim   , &kp ENTER)
        MOD_MORPH_KM(mm_esc_vim   , MOD_LALT|MOD_RALT|MOD_LCTL|MOD_RCTL|MOD_LSFT|MOD_RSFT|MOD_LGUI|MOD_RGUI, &mc_esc_vim   , &kp ESC)

    };
};
