/*
*
* Copyright (c) 2025 Rafael Romão
* SPDX-License-Identifier: MIT
*
*/

    /*  TEMPLATES  */

    #define VIM_MACRO(NAME, BINDINGS) \
        NAME: NAME { \
            compatible = "zmk,behavior-macro"; \
            #binding-cells = <0>; \
            wait-ms = <5>; \
            tap-ms = <5>; \
            bindings = <BINDINGS>; \
        };

    #define VIM_BINDING(     \
            NAME,            \
            VIMOFF_BINDING,  \
            NORMAL_BINDING,  \
            VISUAL_BINDING,  \
            CHANGE_BINDING,  \
            LEADER_BINDING,  \
            INSERT_BINDING,  \
            REPLACE_BINDING, \
            CMDLINE_BINDING  \
        ) \
        NAME##_normal: NAME##_normal { \
            compatible = "zmk,behavior-layer-morph"; \
            #binding-cells = <0>; \
            layer = <VIM_NORMAL>; \
            bindings \
                = <NORMAL_BINDING> \
                , <VIMOFF_BINDING> \
                ; \
        }; \
        NAME##_visual: NAME##_visual { \
            compatible = "zmk,behavior-layer-morph"; \
            #binding-cells = <0>; \
            layer = <VIM_VISUAL>; \
            bindings \
                = <VISUAL_BINDING> \
                , <&NAME##_normal> \
                ; \
        }; \
        NAME##_change: NAME##_change { \
            compatible = "zmk,behavior-layer-morph"; \
            #binding-cells = <0>; \
            layer = <VIM_CHANGE>; \
            bindings \
                = <CHANGE_BINDING> \
                , <&NAME##_visual> \
                ; \
        }; \
        NAME##_leader: NAME##_leader { \
            compatible = "zmk,behavior-layer-morph"; \
            #binding-cells = <0>; \
            layer = <VIM_LEADER>; \
            bindings \
                = <LEADER_BINDING> \
                , <&NAME##_change> \
                ; \
        }; \
        NAME##_insert: NAME##_insert { \
            compatible = "zmk,behavior-layer-morph"; \
            #binding-cells = <0>; \
            layer = <VIM_CHANGE>; \
            bindings \
                = <INSERT_BINDING> \
                , <&NAME##_leader> \
                ; \
        }; \
        NAME##_replace: NAME##_replace { \
            compatible = "zmk,behavior-layer-morph"; \
            #binding-cells = <0>; \
            layer = <VIM_REPLACE>; \
            bindings \
                = <REPLACE_BINDING> \
                , <&NAME##_insert> \
                ; \
        }; \
        NAME: NAME { \
            compatible = "zmk,behavior-layer-morph"; \
            #binding-cells = <0>; \
            layer = <VIM_CMDLINE>; \
            bindings \
                = <CMDLINE_BINDING> \
                , <&NAME##_replace> \
                ; \
        };

/ {
    vim {

        VIM_MACRO(mc_vim_off            , &tog_off VIM_NORMAL &tog_off VIM_CHANGE &tog_off VIM_VISUAL &tog_off VIM_INSERT &tog_off VIM_REPLACE &tog_off VIM_LEADER)
        VIM_MACRO(mc_vim_reset          , &mc_vim_off &tog_on VIM_NORMAL &kp ESC)
        VIM_MACRO(mc_vim_insert         , &mc_vim_off &tog_on VIM_INSERT)
        VIM_MACRO(mc_vim_cmdline        , &mc_vim_off &tog_on VIM_CMDLINE)

        VIM_MACRO(mc_spc_lead_vim       , &kp SPACE &ntsl VIM_LEADER)

        VIM_MACRO(mc_slash_vim          , &kp SLASH &mc_vim_cmdline)

        VIM_MACRO(mc_colon,               &kp COLON )
        VIM_MACRO(mc_colon_vim          , &mc_colon &mc_vim_cmdline)
        VIM_BINDING(
          lm_colon_vim,
          &mc_colon,     // vim off
          &mc_colon_vim, // normal
          &mc_colon_vim, // visual
          &mc_colon_vim, // change
          &mc_colon_vim, // leader
          &mc_colon,     // insert
          &mc_colon,     // replace
          &mc_colon      // cmrline
        )

        VIM_MACRO(mc_enter               , &kp ENTER)
        VIM_MACRO(mc_enter_vim           , &mc_enter &mc_vim_reset)
        VIM_BINDING(
          lm_ent_vim,
          &mc_enter,     // vim off
          &mc_enter,     // normal
          &mc_enter,     // visual
          &mc_enter,     // change
          &mc_enter,     // leader
          &mc_enter,     // insert
          &mc_enter,     // replace
          &mc_enter_vim  // cmdline
        )

        VIM_MACRO(mc_esc                 , &kp ESC)
        VIM_MACRO(mc_esc_vim             , &mc_esc &mc_vim_reset)
        VIM_BINDING(
          lm_esc_vim,
          &mc_esc,       // vim off
          &mc_esc,       // normal
          &mc_esc_vim,   // visual
          &mc_esc_vim,   // change
          &mc_esc_vim,   // leader
          &mc_esc_vim,   // insert
          &mc_esc_vim,   // replace
          &mc_esc_vim    // cmdline
        )

        MACRO(mc_o_vim,  &kp O &kp F24 &tog_off VIM_NORMAL &tog_on VIM_INSERT) // reset antecedent key for magic keys 
        MACRO(mc_a_vim,  &kp A &kp F24 &tog_off VIM_NORMAL &tog_on VIM_INSERT) // reset antecedent key for magic keys 
        MACRO(mc_i_vim,  &kp I &kp F24 &tog_off VIM_NORMAL &tog_on VIM_INSERT) // reset antecedent key for magic keys 
        MACRO(mc_c_vim,  &kp C &tog_off VIM_NORMAL &tog_on VIM_INSERT &ntsl VIM_CHANGE)
        MACRO(mc_ca_vim, &kp A &kp F24 &ntsl VIM_CHANGE) // reset antecedent key for magic keys 
        MACRO(mc_ci_vim, &kp I &kp F24 &ntsl VIM_CHANGE) // reset antecedent key for magic keys 
        MACRO(mc_ce_vim, &kp E &kp F24) // reset antecedent key for magic keys
        MACRO(mc_s_vim,  &kp S &tog_off VIM_NORMAL &ntsl VIM_NORMAL &tog_on VIM_INSERT)
        MACRO(mc_r_vim,  &kp R &ntsl VIM_REPLACE)

        MACRO(mc_v_vim,  &kp V &tog_on VIM_VISUAL)
        MACRO(mc_sft_v_vim  , &mc_vim_reset &tog_on VIM_VISUAL &kp LS(V))
        MACRO(mc_ctl_v_vim  , &mc_vim_reset &tog_on VIM_VISUAL &kp LC(V))
        LAYER_MORPH(lm_v_vim     , VIM_VISUAL, &mc_vim_reset , &mc_v_vim)
        LAYER_MORPH(lm_sft_v_vim , VIM_VISUAL, &mc_vim_reset , &mc_sft_v_vim)
        LAYER_MORPH(lm_ctl_v_vim , VIM_VISUAL, &mc_vim_reset , &mc_ctl_v_vim)

        MACRO(mc_sft_c_vim,  &kp C &tog_off VIM_NORMAL &tog_on VIM_INSERT)
        MOD_MORPH_KM(mm_sft_c_vim , MOD_LSFT|MOD_RSFT, &mc_sft_c_vim, &mc_c_vim)

        MOD_MORPH_KM(mm_a_vim , MOD_LCTL|MOD_RCTL, &kp A, &mc_a_vim)
        MOD_MORPH_KM(mm_i_vim , MOD_LCTL|MOD_RCTL, &kp I, &mc_i_vim)
        MOD_MORPH_KM(mm_s_vim , MOD_LCTL|MOD_RCTL, &kp S, &mc_s_vim)
        MOD_MORPH_KM(mm_r_vim , MOD_LCTL|MOD_RCTL, &kp R, &mc_r_vim)
        MOD_MORPH_KM(mm_o_vim , MOD_LCTL|MOD_RCTL, &kp O, &mc_o_vim)
        MOD_MORPH_KM(mm_c_vim , MOD_LCTL|MOD_RCTL, &kp C &mc_vim_reset, &mm_sft_c_vim)

        MODTAP_TP(mt_i_vim, &mm_i_vim)
        MODTAP_TP(mt_c_vim, &mm_c_vim)
        MODTAP_TP(mt_s_vim, &mm_s_vim)
        MODTAP_TP(mt_r_vim, &mm_r_vim)

        MACRO(mc_left_vim,      &mc_vim_off &kp LEFT )
        MACRO(mc_right_vim,     &mc_vim_off &kp RIGHT)
                                
        MOD_MORPH_KM(mm_left_vim  , MOD_ALL, &mc_left_vim  , &kp LEFT)
        MOD_MORPH_KM(mm_right_vim , MOD_ALL, &mc_right_vim , &kp RIGHT)
        MOD_MORPH_KM(mm_ent_vim   , MOD_ALL, &lm_ent_vim   , &kp ENTER)
        MOD_MORPH_KM(mm_esc_vim   , MOD_ALL, &lm_esc_vim   , &kp ESC)

        MACRO(mm_shift_vim_replace, &mm_shift &ntsl VIM_REPLACE)

        ht_sft_vim: ht_sft_vim {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <QUICK_TAP_TERM>;
            flavor = "tap-preferred";
            quick-tap-ms = <0>;
            bindings = <&mo>, <&mm_shift_vim_replace>;
        };

    };
};
