/*
*
* Copyright (c) 2022 Rafael Romão
* SPDX-License-Identifier: MIT
*
*/

/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LTP LTR LTM LTI LTC │ │ RTC RTI RTM RTR RTP │
  │ LHP LHR LHM LHI LHC │ │ RHC RHI RHM RHR RHP │
  │ LBP LBR LBM LBI LBC │ │ RBC RBI RBM RBR RBP │
  ╰───────╮ LT1 LT0 LTH │ │ RTH RT0 RT1 ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

/ {
    #define COMBO_TERM 50

    #define COMBO(NAME, KEYS, BINDINGS, LAYERS) \
        NAME { \
            timeout-ms = <COMBO_TERM>; \
            layers = <LAYERS>; \
            key-positions = <KEYS>; \
            bindings = <BINDINGS>; \
        };

    combos {
        compatible = "zmk,combos";

        COMBO(cb_save,          LHR LHM LTH, &mc_save,           ROMAK NUMPAD)
        COMBO(cb_esc,           LTR LTM LTH, &kp ESC,            ROMAK NUMPAD)
        COMBO(cb_paste_l,       LHM LHI LTH, &mc_paste,          ROMAK NUMPAD)
        COMBO(cb_copy_l,        LBM LBI LTH, &mc_copy,           ROMAK NUMPAD)
        COMBO(cb_fullscr,       LHP LHR LTH, &mc_fullscr,        ROMAK NUMPAD)
        COMBO(cb_find,           LBP LBR LTH, &mc_find,            ROMAK NUMPAD)

        COMBO(cb_unds,          LBR LBM,     &kp UNDERSCORE,     ROMAK)
        COMBO(cb_z,             LBM LBI,     &kp Z,              ROMAK)
        COMBO(cb_raise,         LHR LTH,     &sl RAISE,          ROMAK)
        COMBO(cb_lower,         LHM RTH,     &sl LOWER,          ROMAK)
        
        COMBO(cb_pars,          LTR LTM,     &th_pars 0 0,       LOWER)

        COMBO(cb_esc_save,      LTR LTM,     &mc_save_esc,       NAV)

        COMBO(cb_enter,         RHM RHR RTH, &kp ENTER,          ROMAK NUMPAD LOWER)

        COMBO(cb_tab,           RTM RTR RTH, &kp TAB,            ROMAK NUMPAD)
        COMBO(cb_paste_r,       RHI RHM RTH, &mc_paste,          ROMAK NUMPAD)
        COMBO(cb_copy_r,        RBI RBM RTH, &mc_copy,           ROMAK NUMPAD)
        COMBO(cb_selall,        RHR RHP RTH, &mc_selall,         ROMAK NUMPAD)
        COMBO(cb_undo,          RBR RBP RTH, &mc_undo,           ROMAK NUMPAD)

        COMBO(cb_o_esc,         RTM RTR,     &mc_o_esc,          ROMAK)
        COMBO(cb_semi,          RBM RBR,     &th_semi 0 0,       ROMAK)
        COMBO(cb_p,             RHI RHM,     &kp P,              ROMAK)
        COMBO(cb_x,             RBI RBM,     &kp X,              ROMAK)
        COMBO(cb_lower,         RHR RTH,     &sl LOWER,          ROMAK)
        COMBO(cb_raise,         RHM RTH,     &sl RAISE,          ROMAK)

        COMBO(cb_ao,            RHM RHR,     &mc_ao,             ACCENT)
        COMBO(cb_cao,           RHI RHM RHR, &mc_cao,            ACCENT)
        COMBO(cb_oes,           RBM RBR,     &mc_oes,            ACCENT)
        COMBO(cb_coes,          RBI RBM RBR, &mc_coes,           ACCENT)

        COMBO(cb_braces,        RTR RTM,     &mc_braces,         RAISE)

        COMBO(cb_end_ent,       RTM RTR,     &th_end_ent 0 0,    MEDIA)
        COMBO(cb_del,           RBC RBI,     &kp DEL,            MEDIA)
        COMBO(cb_home,          RBI RBM,     &kp HOME,           MEDIA)
        COMBO(cb_end,           RBM RBR,     &kp END,            MEDIA)
        COMBO(cb_ins,           RBR RBP,     &kp INS,            MEDIA)
        
        COMBO(cb_refresh,       RHM RHR,     &mc_refresh,        MACROS)
        COMBO(cb_close_tab,     RBM RBR,     &mc_close_tab,      MACROS)
    };
};