/*
*
* Copyright (c) 2022 Rafael Romão
* SPDX-License-Identifier: MIT
*
*/

/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LTP LTR LTM LTI LTC │ │ RTC RTI RTM RTR RTP │
  │ LHP LHR LHM LHI LHC │ │ RHC RHI RHM RHR RHP │
  │ LBP LBR LBM LBI LBC │ │ RBC RBI RBM RBR RBP │
  ╰───────╮ L2  L1  L0  │ │ R0  R1  R2  ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

/ {
    #define COMBO_TERM 50

    #define COMBO(NAME, KEYS, BINDINGS, LAYERS) \
        NAME { \
            timeout-ms = <COMBO_TERM>; \
            layers = <LAYERS>; \
            key-positions = <KEYS>; \
            bindings = <BINDINGS>; \
        };

    combos {
        compatible = "zmk,combos";

        COMBO(cb_save,          LHR LHM L0,  &mc_save,           ROMAK CASE NUMPAD)
        COMBO(cb_escc,          LTR LTM,     &mc_escc,           ROMAK CASE NUMPAD NAV NAV_F)
        COMBO(cb_fullscr,       LHM LHI L0,  &mc_fullscr,        ROMAK CASE NUMPAD)
        COMBO(cb_find,          LBM LBI L0,  &mc_find,           ROMAK CASE NUMPAD)
        COMBO(cb_undo,          LBR LBM L0,  &mc_undo,           ROMAK CASE NUMPAD)

        COMBO(cb_k,             LBI LBM,     &kp K,              ROMAK)
        COMBO(cb_q,             LBR LBI LBM, &kp Q,              ROMAK)
        COMBO(cb_kc,            LBI LBM,     &kp LS(K),          CASE)
        COMBO(cb_qc,            LBR LBI LBM, &kp LS(Q),          CASE)
        COMBO(cb_unds,          LBR LBM,     &mm_unds,           ROMAK CASE)

        COMBO(cb_pars,          LTR LTM,     &th_pars 0 0,       LOWER)

        COMBO(cb_esc_save,      LTR LTM L0,  &mc_save_esc,       ROMAK)

        COMBO(cb_enter,         RHM RHR R0,  &kp ENTER,          ROMAK CASE NUMPAD LOWER NAV NAV_F)
        COMBO(cb_backspace,     RTM RTR,     &kp BACKSPACE,      ROMAK CASE NUMPAD LOWER MACROS_EXT)
        COMBO(cb_tab,           RTM RTR R0,  &kp TAB,            ROMAK CASE NUMPAD LOWER)

        COMBO(cb_paste,         RBI RBM R0,  &mc_paste,          ROMAK CASE NUMPAD)
        COMBO(cb_copy,          RHI RHM R0,  &mc_copy,           ROMAK CASE NUMPAD)
        COMBO(cb_selall,        RBM RBR R0,  &mc_selall,         ROMAK CASE NUMPAD)

        COMBO(cb_selcopy,       RHI RHM RHR R0,  &mc_selcopy,    ROMAK CASE NUMPAD)
        COMBO(cb_selpaste,      RBI RBM RBR R0,  &mc_selpaste,   ROMAK CASE NUMPAD)

        COMBO(cb_o_esc,         RHM R0,      &mc_o_esc,          ROMAK CASE)
        COMBO(cb_sft_o_esc,     RHR R0,      &mc_sft_o_esc,      ROMAK CASE)
        COMBO(cb_semi,          RBM RBR,     &th_semi 0 0,       ROMAK CASE LOWER)
        COMBO(cb_epa,           RBI RBM RBR, &th_epa 0 0,        ROMAK CASE)

        COMBO(cb_v,             RTI RTM,     &kp V,              ROMAK)
        COMBO(cb_p,             RBI RBM,     &kp P,              ROMAK)
        COMBO(cb_y,             RHI RHM,     &kp Y,              ROMAK)
        COMBO(cb_x,             RHM RHR,     &kp X,              ROMAK)
        COMBO(cb_d,             RHI RHM RHR, &kp D,              ROMAK)
        COMBO(cb_vc,            RTI RTM,     &kp LS(V),          CASE)
        COMBO(cb_pc,            RBI RBM,     &kp LS(P),          CASE)
        COMBO(cb_yc,            RHI RHM,     &kp LS(Y),          CASE)
        COMBO(cb_xc,            RHM RHR,     &kp LS(X),          CASE)
        COMBO(cb_dc,            RHI RHM RHR, &kp LS(D),          CASE)

        COMBO(cb_ae,            RBI RBM,     &mc_ae,             ACCENT)
        COMBO(cb_ao,            RHM RHR,     &mc_ao,             ACCENT)
        COMBO(cb_oe,            RBM RBR,     &mc_oe,             ACCENT)
        COMBO(cb_cao,           RHI RHM RHR, &mc_cao,            ACCENT)
        COMBO(cb_coes,          RBI RBM RBR, &mc_coes,           ACCENT)
        COMBO(cb_squo,          RHI RHM,     &mc_sqo,            ACCENT)

        COMBO(cb_braces,        RTI RTM RTR, &mc_braces,         RAISE)
        COMBO(cb_sarrow,        RHI RHM,     &th_sarrow 0 0,     RAISE)
        COMBO(cb_eqeq,          RHM RHR,     &mc_eqeq,           RAISE)
        COMBO(cb_noteq,         RHI RHM RHR, &mc_noteq,          RAISE)
        COMBO(cb_lt,            RBI RBM,     &th_lt 0 0,         RAISE)
        COMBO(cb_gt,            RBM RBR,     &th_gt 0 0,         RAISE)
        COMBO(cb_ltgt,          RBI RBM RBR, &mc_ltgt,           RAISE)

        COMBO(cb_end_ent,       RTM RTR,     &th_end_ent 0 0,    MEDIA)

        COMBO(cb_refresh_z0,    RHM RHR,     &mm_refresh_z0,     MACROS)
        COMBO(cb_close_tab_win, RBM RBR,     &mm_close_tab_win,  MACROS)
    };
};