/*
*
* Copyright (c) 2022 Rafael Romão
* SPDX-License-Identifier: MIT
*
*/

/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LTP LTR LTM LTI LTC │ │ RTC RTI RTM RTR RTP │
  │ LHP LHR LHM LHI LHC │ │ RHC RHI RHM RHR RHP │
  │ LBP LBR LBM LBI LBC │ │ RBC RBI RBM RBR RBP │
  ╰───────╮ L2  L1  L0  │ │ R0  R1  R2  ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

/ {
    #define COMBO_TERM 50

    #define COMBO(NAME, KEYS, BINDINGS, LAYERS) \
        NAME { \
            timeout-ms = <COMBO_TERM>; \
            layers = <LAYERS>; \
            key-positions = <KEYS>; \
            bindings = <BINDINGS>; \
        };

    combos {
        compatible = "zmk,combos";

        COMBO(cb_save,          LHR LHM L0,  &mc_save,           ROMAK NUMPAD)
        COMBO(cb_esc,           LTR LTM L0,  &kp ESC,            ROMAK NUMPAD)
        COMBO(cb_paste_l,       LHM LHI L0,  &mc_paste,          ROMAK NUMPAD)
        COMBO(cb_copy_l,        LBM LBI L0,  &mc_copy,           ROMAK NUMPAD)
        COMBO(cb_fullscr,       LHP LHR L0,  &mc_fullscr,        ROMAK NUMPAD)
        COMBO(cb_find,           LBP LBR L0,  &mc_find,            ROMAK NUMPAD)

        COMBO(cb_unds,          LBR LBM,     &kp UNDERSCORE,     ROMAK)
        COMBO(cb_z,             LBM LBI,     &kp Z,              ROMAK)
        COMBO(cb_raise_l,       LHR L0,      &sl RAISE,          ROMAK)
        COMBO(cb_lower_l,       LHM L0,      &sl LOWER,          ROMAK)
        
        COMBO(cb_pars,          LTR LTM,     &th_pars 0 0,       LOWER)

        COMBO(cb_esc_save,      LTR LTM,     &mc_save_esc,       NAV)

        COMBO(cb_enter,         RHM RHR R0,  &kp ENTER,          ROMAK NUMPAD LOWER)

        COMBO(cb_tab,           RTM RTR R0,  &kp TAB,            ROMAK NUMPAD)
        COMBO(cb_paste_r,       RHI RHM R0,  &mc_paste,          ROMAK NUMPAD)
        COMBO(cb_copy_r,        RBI RBM R0,  &mc_copy,           ROMAK NUMPAD)
        COMBO(cb_selall,        RHR RHP R0,  &mc_selall,         ROMAK NUMPAD)
        COMBO(cb_undo,          RBR RBP R0,  &mc_undo,           ROMAK NUMPAD)

        COMBO(cb_o_esc,         RTM RTR,     &mc_o_esc,          ROMAK)
        COMBO(cb_semi,          RBM RBR,     &th_semi 0 0,       ROMAK)
        COMBO(cb_p,             RHI RHM,     &kp P,              ROMAK)
        COMBO(cb_x,             RBI RBM,     &kp X,              ROMAK)
        COMBO(cb_lower_r,       RHR R0,      &sl LOWER,          ROMAK)
        COMBO(cb_raise_r,       RHM R0,      &sl RAISE,          ROMAK)

        COMBO(cb_ao,            RHM RHR,     &mc_ao,             ACCENT)
        COMBO(cb_cao,           RHI RHM RHR, &mc_cao,            ACCENT)
        COMBO(cb_oes,           RBM RBR,     &mc_oes,            ACCENT)
        COMBO(cb_coes,          RBI RBM RBR, &mc_coes,           ACCENT)

        COMBO(cb_braces,        RTR RTM,     &mc_braces,         RAISE)

        COMBO(cb_end_ent,       RTM RTR,     &th_end_ent 0 0,    MEDIA)
        COMBO(cb_del,           RBC RBI,     &kp DEL,            MEDIA)
        COMBO(cb_home,          RBI RBM,     &kp HOME,           MEDIA)
        COMBO(cb_end,           RBM RBR,     &kp END,            MEDIA)
        COMBO(cb_ins,           RBR RBP,     &kp INS,            MEDIA)
        
        COMBO(cb_refresh,       RHM RHR,     &mc_refresh,        MACROS)
        COMBO(cb_close_tab,     RBM RBR,     &mc_close_tab,      MACROS)
    };
};