/*
*
* Copyright (c) 2022 Rafael Romão
* SPDX-License-Identifier: MIT
*
*/

/ {
    #define SHORTCUT(NAME, BINDINGS) \
        NAME: NAME { \
            compatible = "zmk,behavior-macro"; \
            label = ZMK_MACRO_STRINGIFY(NAME); \
            #binding-cells = <0>; \
            wait-ms = <10>; \
            tap-ms = <10>; \
            bindings = <BINDINGS>; \
        };

    shortcuts {
        SHORTCUT(mc_fullscr,  &macro_press &kp LCTRL &macro_press &kp LGUI &macro_tap &kp F &macro_release &kp LGUI &macro_release &kp LCTRL)
        SHORTCUT(mc_find,      &macro_press &kp LGUI &macro_tap &kp F &macro_release &kp LGUI)
        SHORTCUT(mc_selall,   &macro_press &kp LGUI &macro_tap &kp A &macro_release &kp LGUI)
        SHORTCUT(mc_undo,     &macro_press &kp LGUI &macro_tap &kp U &macro_release &kp LGUI)
        SHORTCUT(mc_copy,     &macro_press &kp LGUI &macro_tap &kp C &macro_release &kp LGUI)
        SHORTCUT(mc_paste,    &macro_press &kp LGUI &macro_tap &kp V &macro_release &kp LGUI)
        SHORTCUT(mc_save,     &macro_press &kp LGUI &macro_tap &kp S &macro_release &kp LGUI)
        SHORTCUT(mc_save_esc, &macro_press &kp LGUI &macro_tap &kp S &macro_release &kp LGUI &kp ESC)
        SHORTCUT(mc_selw,     &macro_tap &kp LA(LEFT) &kp LA(LS(RIGHT)))
        SHORTCUT(mc_seln,     &macro_tap &kp HOME &macro_press &kp LSHFT &macro_tap &kp END &macro_release &kp LSHFT)
        SHORTCUT(mc_zout,     &macro_press &kp LGUI &macro_tap &kp MINUS &macro_release &kp LGUI)
        SHORTCUT(mc_zin,      &macro_press &kp LGUI &macro_tap &kp PLUS &macro_release &kp LGUI)
        SHORTCUT(mc_refresh,  &macro_press &kp LGUI &macro_tap &kp R &macro_release &kp LGUI)
        SHORTCUT(mc_o_esc,    &macro_tap &kp O &kp ESC)
        SHORTCUT(mc_comment,  &macro_tap &kp LG(SLASH))
        SHORTCUT(mc_join,     &macro_tap &kp END &kp DEL)
    };
};
