/*
*
* Copyright (c) 2022 Rafael Romão
* SPDX-License-Identifier: MIT
*
*/

/ {
    #define SHORTCUT(NAME, BINDINGS) \
        mc_##NAME: mc_##NAME { \
            compatible = "zmk,behavior-macro"; \
            label = ZMK_MACRO_STRINGIFY(mc_##NAME); \
            #binding-cells = <0>; \
            wait-ms = <10>; \
            tap-ms = <10>; \
            bindings = <BINDINGS>; \
        };

    shortcuts {
        SHORTCUT(fullscr,  &macro_press &kp LCTRL &macro_press &kp LGUI &macro_tap &kp F &macro_release &kp LGUI &macro_release &kp LCTRL)
        SHORTCUT(find,      &macro_press &kp LGUI &macro_tap &kp F &macro_release &kp LGUI)
        SHORTCUT(selall,   &macro_press &kp LGUI &macro_tap &kp A &macro_release &kp LGUI)
        SHORTCUT(undo,     &macro_press &kp LGUI &macro_tap &kp U &macro_release &kp LGUI)
        SHORTCUT(copy,     &macro_press &kp LGUI &macro_tap &kp C &macro_release &kp LGUI)
        SHORTCUT(paste,    &macro_press &kp LGUI &macro_tap &kp V &macro_release &kp LGUI)
        SHORTCUT(save,     &macro_press &kp LGUI &macro_tap &kp S &macro_release &kp LGUI)
        SHORTCUT(save_esc, &macro_press &kp LGUI &macro_tap &kp S &macro_release &kp LGUI &kp ESC)
        SHORTCUT(seln,     &macro_tap &kp HOME &macro_press &kp LSHFT &macro_tap &kp END &macro_release &kp LSHFT)
        SHORTCUT(zout,     &macro_press &kp LGUI &macro_tap &kp MINUS &macro_release &kp LGUI)
        SHORTCUT(zin,      &macro_press &kp LGUI &macro_tap &kp PLUS &macro_release &kp LGUI)
        SHORTCUT(refresh,  &macro_press &kp LGUI &macro_tap &kp R &macro_release &kp LGUI)
    };
};
