/*
*
* Copyright (c) 2022 Rafael Romão
* SPDX-License-Identifier: MIT
*
*/

/ {
    smart-cases {
        caps_word {
            compatible = "zmk,behavior-caps-word";
			label = "CAPS_WORD";
			#binding-cells = <0>;
            continue-list = <UNDERSCORE MINUS BACKSPACE DELETE>;
            /delete-property/ ignore-modifiers;
        };

        mm_med: mm_med {
            label = "MED SHIFT CAPSWORD";
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&msk MEDIA LSHFT>, <&caps_word>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            keep-mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};
