# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_DILEMMA_RIGHT

config ZMK_KEYBOARD_NAME
    default "Dilemma"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DILEMMA_LEFT || SHIELD_DILEMMA_RIGHT

config ZMK_SPLIT
    default y

endif