/*
*
* Copyright (c) 2022 Rafael Romão
* SPDX-License-Identifier: MIT
*
*/

/ {
    shortcuts {
        MACRO(mc_os,                     &macro_tap &kp M)
        
        // Common

        MACRO(mc_fullscr,                &macro_tap &kp LC(LG(F)))
        MACRO(mc_find,                   &macro_tap &kp LG(F))
        MACRO(mc_selall,                 &macro_tap &kp LG(A))
        MACRO(mc_undo,                   &macro_tap &kp LG(Z))
        MACRO(mc_copy,                   &macro_tap &kp LG(C))
        MACRO(mc_shift_copy,             &macro_tap &kp LS(LG(C)))
        MACRO(mc_selcopy,                &macro_tap &kp LG(A) &kp LG(C))
        MACRO(mc_shift_selcopy,          &macro_tap &kp LS(LG(A)) &kp LS(LG(C)))
        MACRO(mc_paste,                  &macro_tap &kp LG(V))
        MACRO(mc_shift_paste,            &macro_tap &kp LS(LG(V)))
        MACRO(mc_selpaste,               &macro_tap &kp LG(A) &kp LG(V))
        MACRO(mc_shift_selpaste,         &macro_tap &kp LS(LG(A)) &kp LS(LG(V)))
        MACRO(mc_save,                   &macro_tap &kp LG(S))
        MACRO(mc_save_esc,               &macro_tap &kp LG(S) &kp ESC)
        MACRO(mc_comment,                &macro_tap &kp LG(SLASH))

        // Custom

        MACRO(mc_lock,                   &macro_tap &kp LC(LG(Q)))

        MACRO(mc_refresh,                &macro_tap &kp LG(R))
        MACRO(mc_close,                  &macro_tap &kp LG(W))
        MACRO(mc_reopen,                 &macro_tap &kp LG(LS(T)))

        MACRO(mc_zoom_out,               &macro_tap &kp LG(MINUS))
        MACRO(mc_zoom_in,                &macro_tap &kp LG(PLUS))
        MACRO(mc_reset_zoom,             &macro_tap &kp LG(N0))

        LAYERTAP_TP(lt_zoom_out,         &mc_zoom_out)
        
        MACRO(mc_swapper,                &macro_tap &kp LA(TAB))
        MACRO(mc_launcher,               &macro_tap &kp LA(SPACE))
        MACRO(mc_tabs,                   &macro_tap &kp LG(LS(A)))

        MACRO(mc_files,                  &macro_tap &kp LC(LA(F)))

        MACRO(mc_hand,                   &macro_tap &kp LC(LA(H)))
        MACRO(mc_mic,                    &macro_tap &kp LC(LA(D)))
        MACRO(mc_cam,                    &macro_tap &kp LC(LA(E)))
        MACRO(mc_screenshot,             &macro_tap &kp LC(LA(S)))
        MACRO(mc_emoji,                  &macro_tap &kp LC(LA(J)))
        MACRO(mc_calc,                   &macro_tap &kp LC(LA(C)))
        MACRO(mc_notes,                  &macro_tap &kp LC(LA(O)))
        MACRO(mc_term,                   &macro_tap &kp LC(LA(T)))
        MACRO(mc_browser,                &macro_tap &kp LC(LA(B)))
        MACRO(mc_editor,                 &macro_tap &kp LC(LA(N)))
        MACRO(mc_ai,                     &macro_tap &kp LC(LA(I)))
        MACRO(mc_activity,               &macro_tap &kp LC(LA(A)))

        // Navigation

        MACRO(mc_prev_word,              &macro_tap &kp LA(LEFT))
        MACRO(mc_next_word,              &macro_tap &kp LA(RIGHT))
        MACRO(mc_del_word,               &macro_press &kp LA(DELETE) &macro_pause_for_release &macro_release &kp LA(DELETE))
        MACRO(mc_bsp_word,               &macro_press &kp LA(BACKSPACE) &macro_pause_for_release &macro_release &kp LA(BACKSPACE))

        // Meh and Hyper

        MACRO(mc_meh_comma,              &macro_tap &kp LC(LA(LS(SQT))))
        MODTAP_TP(mt_meh_comm,           &mc_meh_comma)
        MACRO(mc_meh_dot,                &macro_tap &kp LC(LA(LS(BACKSLASH))))
        MODTAP_TP(mt_meh_dot,            &mc_meh_dot)
   };
};
