/*
*
* Copyright (c) 2022 Rafael Romão
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <layers.dtsi>
#include <hold-taps.dtsi>
#include <ngrams.dtsi>
#include <macros.dtsi>

/ {
        keymap {
                compatible = "zmk,keymap";
                default_layer {
                        label = "ROMAK";
                        bindings = <
   &none           &kp R           &kp Q           &kp P           &kp Z           &kp K           &kp L           &kp U           &kp I           &none    
   &lt MACROS F    &mt LSHFT S     &mt LCTRL E     &mt LALT D      &kp G           &kp H           &mt RALT N      &mt RCTRL A     &mt RSHFT O     &lt MACROS C 
   &kp B           &kp X           &kp Y           &mt LGUI T      &kp V           &kp J           &mt RGUI M      &kp COMMA       &kp DOT         &kp W
                                   &none           &msl NAV NGRAMS &lt LOWER SPACE &lt RAISE BSPC  &msk MED LSHFT  &none
                        >;
                };
                numpad_layer {
                        label = "NUMPAD";
                        bindings = <
   &none           &kp F9          &kp F8          &kp F7          &kp F12         &tog NUMPAD     &kp N7          &kp N8          &kp N9          &none    
   &kp F15         &mt LSHFT F6    &mt LCTRL F5    &mt LALT F4     &kp F11         &kp COMMA       &mt RALT N4     &mt RCTRL N5    &mt RSHFT N6    &lt MACROS DOT 
   &kp F14         &kp F3          &kp F2          &mt F1          &kp LGUI F10    &none           &mt RGUI N1     &kp N2          &kp N3          &kp SEMICOLON
                                   &none           &msl NAV NGRAMS &lt LOWER SPACE &lt RAISE BSPC  &msk MED N0     &none
                        >;
                };
                ngrams_layer {
                        label = "NGRAMS";
                        bindings = <
   &none           &ng_qu          &ng_lh          &ng_ph          &none           &none           &ac_acir        &ac_uacu        &ac_iacu        &none    
   &none           &ng_th          &ng_ch          &ng_wh          &none           &ac_agrv        &ac_aacu        &ac_atil        &ac_otil        &ac_ccdi 
   &none           &ng_gh          &ng_nh          &ng_sh          &none           &none           &ac_eacu        &ac_ecir        &ac_oacu        &ac_ccir
                                   &none           &msl NAV NGRAMS &lt LOWER SPACE &lt RAISE BSPC  &msk MED LSHFT     &none
                        >;
                };
                macros_layer {
                        label = "MACROS";
                        bindings = <
   &none           &kp G(S(TAB))   &kp G(TAB)      &none           &none           &none           &none         &kp G(MINUS)    &kp G(PLUS)     &none    
   &none           &kp LSHFT       &none           &none           &none           &none           &none         &none           &none         &none  
   &none           &none           &none           &none           &none           &none           &none         &none           &none         &none 
                                   &none           &msl NAV NGRAMS &lt RAISE BSPC  &lt LOWER SPACE &msk MED LSHFT  &none
                        >;
                };
        };
};
