/*
*
* Copyright (c) 2022 Rafael Romão
* SPDX-License-Identifier: MIT
*
*/

#include "config.dtsi"

#include "../features/behaviors.dtsi"
#include "../features/accents.dtsi"
#include "../features/smartcase.dtsi"
#include "../features/swapper.dtsi"
#include "../features/symbols.dtsi"
#include "../features/shortcuts.dtsi"
#include "../features/combos.dtsi"
#include "../features/leader.dtsi"
#if __has_include("../secret.dtsi")
#include "../secret.dtsi"
#endif

/ {
        keymap {
                compatible = "zmk,keymap";
                default_layer {
                        label = "ROMAK";
                        bindings = <
   &mc_sqo         &kp F           &kp D           &kp W           &kp Z           &kp X           &kp L           &kp O           &kp U           &mc_ced    
   &lt MACROS R    &mt LSHFT N     &mt LCTRL S     &mt LGUI T      &kp G           &kp V           &mt RGUI H      &mt RCTRL A     &mt RSHFT E     &lt MACROS I 
   &mt RALT Q      &kp B           &kp C           &mt LALT P      &kp K           &kp J           &mt LALT M      &td_comma       &th_dot 0 0     &mt RALT Y
                                   &sl RAISE       &msl NAV ACCENT &lt LOWER SPACE &lt RAISE BSPC  &mm_case        &sl LOWER
                        >;
                };
                numpad_layer {
                        label = "NUMPAD";
                        bindings = <
   &none           &kp F9          &kp F8          &kp F7          &none           &none           &mc_n7          &mc_n8          &mc_n9          &none    
   &kp F15         &mt LSHFT F6    &mt LCTRL F5    &mt LGUI F4     &kp F11         &kp COLON       &th_n4 RGUI 0   &th_n5 RCTRL 0  &th_n6 RSHFT 0  &lt MACROS DOT 
   &mt RALT F14    &kp F3          &kp F2          &mt LALT F1     &kp F10         &tog NUMPAD     &th_n1 LALT 0   &mc_n2          &mc_n3          &mt RALT COMMA
                                   &trans          &msl NAV F12    &trans          &trans          &th_n0 MEDIA 0  &trans
                        >;
                };
                accents_layer {
                        label = "ACCENT";
                        bindings = <
   &none           &none           &kp X           &kp CARET       &none           &none           &ac_otil        &ac_oacu        &ac_uacu        &none    
   &kp GRAVE       &kp DQT         &kp SQT         &kp Z           &kp TILDE       &ac_agrv        &ac_atil        &ac_aacu        &ac_eacu        &ac_iacu 
   &none           &none           &mc_ced         &none           &none           &none           &ac_acir        &ac_ocir        &ac_ecir        &none
                                   &trans          &trans          &kp SPACE       &kp BSPC        &trans          &trans
                        >;
                };
                macros_layer {
                        label = "MACROS";
                        bindings = <
   &none           &kp ESC         &mm_actions     &mm_typematch   &none           &none           &mc_selw        &kp ENTER       &kp TAB         &none    
   &mm_docs        &th_find LSHFT 0 &mm_run         &mm_debug       &mm_build       &none           &mc_seln        &mm_zh_b        &th_zh LSHFT 0  &none  
   &mm_project     &mm_recent      &mm_complete    &mm_usages      &mm_refac       &mc_join        &mc_comment     &mm_wt_b        &mm_wt_f        &none
                                   &trans          &trans          &kp BSPC        &kp SPACE       &trans          &trans
                        >;
                };
                lower_layer {
                        label = "LOWER";
                        bindings = <
   &none           &td_lpar        &td_rpar        &mc_caret       &none           &none           &mc_n7          &mc_n8          &mc_n9         &none    
   &th_bti NAV 0   &td_dqo         &td_sqo         &td_and         &mc_tilde       &kp COLON       &mc_n4          &mc_n5          &mc_n6         &lt MACROS DOT  
   &kp AT          &td_lbkt        &td_rbkt        &th_qmark 0 0   &kp HASH        &none           &mc_n1          &mc_n2          &mc_n3         &kp COMMA 
                                   &trans          &trans          &trans          &trans          &th_n0 MEDIA 0  &trans
                        >;
                };
                raise_layer {
                        label = "RAISE";
                        bindings = <
   &none           &kp F9          &kp F8          &kp F7          &none           &none           &td_curr        &td_lbrc        &td_rbrc       &none    
   &kp F15         &kp F6          &kp F5          &kp F4          &kp F11         &th_colon 0 0   &kp MINUS       &kp EQUAL       &td_excl       &kp PLUS  
   &kp F14         &kp F3          &kp F2          &kp F1          &kp F10         &th_perc 0 0    &th_slash 0 0   &kp LT          &kp GT         &kp STAR
                                   &trans          &kp F12         &trans          &trans          &trans          &trans
                        >;
                };
                fixed_navigation_layer {
                        label = "NAV";
                        bindings = <
   &none           &kp ESC         &mc_save        &none           &none           &none           &none          &kp PAGE_DOWN    &kp PAGE_UP    &none    
   &none           &sk LSHIFT      &sk LCTRL       &sk LGUI        &none           &tog NAV_F      &kp LEFT       &kp DOWN         &kp UP         &kp RIGHT
   &sk RALT        &none           &none           &sk LALT        &none           &none           &kp DEL        &kp HOME         &kp END        &kp INS
                                   &trans          &trans          &trans          &trans          &trans         &trans
                        >;
                };
                media_layer {
                        label = "MEDIA";
                        bindings = <
   &none           &kp ESC         &mc_save        &none           &none           &none           &none          &kp ENTER        &kp TAB        &none    
   &none           &kp LSHIFT      &kp LCTRL       &kp LGUI        &none           &tog NAV_F      &kp C_MUTE     &kp C_VOL_DN     &kp C_VOL_UP   &kp LC(LA(LS(LG(A))))
   &kp RALT        &none           &none           &kp LALT        &none           &tog NUMPAD     &kp C_PP       &kp C_PREV       &kp C_NEXT     &kp LC(LA(LS(LG(V))))
                                   &trans          &mo MAINT       &trans          &trans          &trans         &trans
                        >;
                };
                navigation_layer {
                        label = "NAV";
                        bindings = <
   &none           &kp ESC         &mc_save        &none           &none           &none           &none          &kp PAGE_DOWN    &kp PAGE_UP    &none    
   &none           &sk LSHIFT      &sk LCTRL       &sk LGUI        &none           &tog NAV_F      &kp LEFT       &kp DOWN         &kp UP         &kp RIGHT
   &sk RALT        &none           &none           &sk LALT        &none           &none           &kp DEL        &kp HOME         &kp END        &kp INS
                                   &trans          &trans          &trans          &trans          &mo MAINT      &trans
                        >;
                };
                lock_layer {
                        label = "LOCK";
                        bindings = <
   &none           &none           &none           &none           &none           &none           &none         &none           &none         &none    
   &none           &none           &none           &none           &none           &none           &none         &none           &none         &none  
   &none           &none           &none           &none           &none           &none           &none         &none           &none         &none 
                                   &none           &trans          &none           &none           &trans        &none
                        >;
                };
                maintenance_layer {
                        label = "MAINT";
                        bindings = <
   &none           &none           &none           &reset          &none           &none           &reset        &kp LC(LG(Q))   &kp C_SLEEP   &none    
   &none           &none           &none           &none           &bootloader     &bootloader     &none         &none           &tog LOCK_KB  &kp C_POWER  
   &none           &none           &none           &none           &none           &none           &bt BT_SEL 0  &bt BT_PRV      &bt BT_NXT    &bt BT_CLR 
                                   &trans          &trans          &trans          &trans          &trans        &trans
                        >;
                };
        };
};
