/*
*
* Copyright (c) 2022 Rafael Romão
* SPDX-License-Identifier: MIT
*
*/
/ {
    #define ALPHA2ED_KEY(NAME, KEY, DEAD_KEY) \
        NAME##_l: NAME##_l { \
            label = ZMK_MACRO_STRINGIFY(NAME##_l); \
            wait-ms = <0>; \
            tap-ms = <0>; \
            compatible = "zmk,behavior-macro"; \
            #binding-cells = <0>; \
            bindings \
                = <&macro_press &kp LALT> \
                , <&macro_tap &kp DEAD_KEY> \
                , <&macro_release &kp LALT> \
                , <&macro_tap &kp KEY> \
                ; \
        }; \
        NAME##_u: NAME##_u { \
            label = ZMK_MACRO_STRINGIFY(NAME##_u); \
            wait-ms = <0>; \
            tap-ms = <0>; \
            compatible = "zmk,behavior-macro"; \
            #binding-cells = <0>; \
            bindings \
                = <&macro_release &kp LSHFT> \
                , <&macro_press &kp LALT> \
                , <&macro_tap &kp DEAD_KEY> \
                , <&macro_release &kp LALT> \
                , <&macro_press &kp LSHFT> \
                , <&macro_tap &kp KEY> \
                , <&macro_release &kp LSHFT> \
                ; \
        }; \
        NAME: NAME { \
            label = ZMK_MACRO_STRINGIFY(NAME); \
            compatible = "zmk,behavior-mod-morph"; \
            #binding-cells = <0>; \
            bindings = <&NAME##_l>, <&NAME##_u>; \
            mods = <(MOD_LSFT|MOD_RSFT)>; \
            keep-mods = <(MOD_LSFT|MOD_RSFT)>; \
        };
    
    #define MACRO_KEY(NAME, BINDINGS) \
        NAME: NAME { \
			compatible = "zmk,behavior-macro"; \
            label = ZMK_MACRO_STRINGIFY(NAME); \
            #binding-cells = <0>; \
            wait-ms = <0>; \
            tap-ms = <0>; \
            bindings = <BINDINGS>; \
        };


    accents {
        ALPHA2ED_KEY(ac_agrv, A, GRAVE)
        ALPHA2ED_KEY(ac_aacu, A, E)
        ALPHA2ED_KEY(ac_acir, A, I)
        ALPHA2ED_KEY(ac_eacu, E, E)
        ALPHA2ED_KEY(ac_ecir, E, I)
        ALPHA2ED_KEY(ac_iacu, I, E)
        ALPHA2ED_KEY(ac_oacu, O, E)
        ALPHA2ED_KEY(ac_ocir, O, I)
        ALPHA2ED_KEY(ac_uacu, U, E)

        ALPHA2ED_KEY(ac_agrv_c, LS(A), GRAVE)
        ALPHA2ED_KEY(ac_aacu_c, LS(A), E)
        ALPHA2ED_KEY(ac_acir_c, LS(A), I)
        ALPHA2ED_KEY(ac_eacu_c, LS(E), E)
        ALPHA2ED_KEY(ac_ecir_c, LS(E), I)
        ALPHA2ED_KEY(ac_iacu_c, LS(I), E)
        ALPHA2ED_KEY(ac_oacu_c, LS(O), E)
        ALPHA2ED_KEY(ac_ocir_c, LS(O), I)
        ALPHA2ED_KEY(ac_uacu_c, LS(U), E)

        MACRO_KEY(mc_ced,   &macro_press &kp LALT &macro_tap &kp C &macro_release &kp LALT)
        MACRO_KEY(mc_ced_c, &macro_press &kp LALT &macro_tap &kp LS(C) &macro_release &kp LALT)
        MACRO_KEY(mc_qu,    &macro_tap &kp Q &macro_wait_time 10 &macro_tap &kp U)
        MACRO_KEY(mc_qu_c,  &macro_press &kp LSHFT &macro_tap &kp Q &macro_release &kp LSHFT &macro_wait_time 10 &macro_tap &kp U)
    };
};