/*
*
* Copyright (c) 2022 Rafael Romão
* SPDX-License-Identifier: MIT
*
*/

/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LTP LTR LTM LTI LTC │ │ RTC RTI RTM RTR RTP │
  │ LHP LHR LHM LHI LHC │ │ RHC RHI RHM RHR RHP │
  │ LBP LBR LBM LBI LBC │ │ RBC RBI RBM RBR RBP │
  ╰───────╮ L2  L1  L0  │ │ R0  R1  R2  ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

/ {
    #define COMBO_TERM 50

    #define COMBO(NAME, KEYS, BINDINGS, LAYERS) \
        NAME { \
            timeout-ms = <COMBO_TERM>; \
            layers = <LAYERS>; \
            key-positions = <KEYS>; \
            bindings = <BINDINGS>; \
        };

    combos {
        compatible = "zmk,combos";

        COMBO(cb_save,          LHR LHM L0,  &mc_save,           ALPHA1 CASE_A1 NUMPAD SEN_CASE SEN_E1 SEN_E2)
        COMBO(cb_escc,          LTR LTM,     &mc_escc,           ALPHA1 CASE_A1 NUMPAD NAV NAV_F SHORTCUTS SHORTCUTS_EXT SEN_CASE SEN_E1 SEN_E2)
        COMBO(cb_fullscr,       LHM LHI L0,  &mc_fullscr,        ALPHA1 CASE_A1 NUMPAD SEN_CASE SEN_E1 SEN_E2)
        COMBO(cb_find,          LBM LBI L0,  &mc_find,           ALPHA1 CASE_A1 NUMPAD SEN_CASE SEN_E1 SEN_E2)
        COMBO(cb_undo,          LBR LBM L0,  &mc_undo,           ALPHA1 CASE_A1 NUMPAD SEN_CASE SEN_E1 SEN_E2)

        COMBO(cb_numword,       LHR LHM,     &mc_smart_num,      ALPHA1 CASE_A1 CASE_A2 SEN_CASE SEN_E1 SEN_E2 NUMPAD)
        COMBO(cb_capslock,      L0 L1,       &kp CAPSLOCK,       ALPHA1 CASE_A1 CASE_A2 SEN_CASE SEN_E1 SEN_E2 NUMPAD)
        COMBO(cb_numpad,        R0 R1,       &tog NUMPAD,        ALPHA1 CASE_A1 CASE_A2 SEN_CASE SEN_E1 SEN_E2 NUMPAD)

        COMBO(cb_k,             LTM LTI,     &kp K,              ALPHA1 SEN_CASE)
        COMBO(cb_w,             LHM LHI,     &kp W,              ALPHA1 SEN_CASE)
        COMBO(cb_z,             LHR LHM LHI, &kp Z,              ALPHA1 SEN_CASE)
        COMBO(cb_j,             LBR LBI LBM, &kp J,              ALPHA1 SEN_CASE)
        COMBO(cb_vl,            LBI LBM,     &kp V,              ALPHA1 SEN_CASE)
        COMBO(cb_q,             LTR LTI LTM, &kp Q,              ALPHA1 SEN_CASE)

        COMBO(cb_kc,            LTM LTI,     &kp LS(K),          CASE_A1 SEN_E1)
        COMBO(cb_wc,            LHM LHI,     &kp LS(W),          CASE_A1 SEN_E1)
        COMBO(cb_zc,            LHR LHM LHI, &kp LS(Z),          CASE_A1 SEN_E1)
        COMBO(cb_jc,            LBR LBI LBM, &kp LS(J),          CASE_A1 SEN_E1)
        COMBO(cb_vlc,           LBI LBM,     &kp LS(V),          CASE_A1 SEN_E1)
        COMBO(cb_qc,            LTR LTI LTM, &kp LS(Q),          CASE_A1 SEN_E1)

        COMBO(cb_unds,          LBR LBM,     &mm_unds,           ALPHA1 CASE_A1 SEN_CASE SEN_E1 SEN_E2)
        COMBO(cb_comm,          RHP R0,      &kp COMMA,          LOWER NUMPAD)

        COMBO(cb_vr,            RTI RTM,     &kp V,              ALPHA1 SEN_CASE)
        COMBO(cb_p,             RBI RBM,     &kp P,              ALPHA1 SEN_CASE)
        COMBO(cb_y,             RHI RHM,     &kp Y,              ALPHA1 SEN_CASE)
        COMBO(cb_x,             RHM RHR,     &kp X,              ALPHA1 SEN_CASE)
        COMBO(cb_d,             RHI RHM RHR, &kp D,              ALPHA1 SEN_CASE)

        COMBO(cb_vrc,           RTI RTM,     &kp LS(V),          CASE_A1 SEN_E2)
        COMBO(cb_pc,            RBI RBM,     &kp LS(P),          CASE_A1 SEN_E2)
        COMBO(cb_yc,            RHI RHM,     &kp LS(Y),          CASE_A1 SEN_E2)
        COMBO(cb_xc,            RHM RHR,     &kp LS(X),          CASE_A1 SEN_E2)
        COMBO(cb_dc,            RHI RHM RHR, &kp LS(D),          CASE_A1 SEN_E2)

        COMBO(cb_f10,           LBM LBI,     &kp F10,            RAISE NUMPAD)
        COMBO(cb_f11,           LHM LHI,     &kp F11,            RAISE NUMPAD)
        COMBO(cb_f12,           LTM LTI,     &kp F12,            RAISE NUMPAD)
        COMBO(cb_f13,           LBM LBR,     &kp F13,            RAISE)
        COMBO(cb_f14,           LHM LHR,     &kp F14,            RAISE)
        COMBO(cb_f15,           LTM LTR,     &kp F15,            RAISE)

        COMBO(cb_ja,            LBR LBM,     &mc_ja,             ALPHA2)
        COMBO(cb_jac,           LBR LBM,     &mc_ja_c,           CASE_A2)
        COMBO(cb_lh,            LHR LHM,     &mc_lh,             ALPHA2)
        COMBO(cb_lpar,          LHR LHM LHI, &kp LPAR,           ALPHA2)
        COMBO(cb_rpa,           LBR LBM LBI, &kp RPAR,           ALPHA2)
        COMBO(cb_lhc,           LHR LHM,     &mc_lh_c,           CASE_A2)
        COMBO(cb_squo,          LTI LTM,     &mc_sqo,            ALPHA2)
        COMBO(cb_dquo,          LHI LHM,     &mc_dqo,            ALPHA2)
        COMBO(cb_qmark,         LBI LBM,     &mc_qmark,          ALPHA2)

        COMBO(cb_colon,         RTI RTM,     &mc_colon,          ALPHA2)
        COMBO(cb_minus,         RHI RHM,     &mc_minus,          ALPHA2)
        COMBO(cb_excl,          RBI RBM,     &mc_excl,           ALPHA2)
        COMBO(cb_ao,            RHM RHR,     &mc_ao,             ALPHA2)
        COMBO(cb_oe,            RBM RBR,     &mc_oe,             ALPHA2)
        COMBO(cb_cao,           RHI RHM RHR, &mc_cao,            ALPHA2)
        COMBO(cb_coes,          RBI RBM RBR, &mc_coes,           ALPHA2)

        COMBO(cb_sqo_s,         LTM LTI,     &mc_sqo,            LOWER SYMBOLS)
        COMBO(cb_dqo_s,         LHM LHI,     &mc_dqo,            LOWER SYMBOLS)
        COMBO(cb_bti_s,         LBM LBI,     &mc_bti,            LOWER SYMBOLS)
        COMBO(cb_braces_s,      LTR LTM,     &mc_braces_s,       SYMBOLS)
        COMBO(cb_braces,        LTR LTM,     &mc_braces,         LOWER)
        COMBO(cb_pars,          LHR LHM,     &th_pars 0 0,       LOWER SYMBOLS)
        COMBO(cb_brackets,      LBR LBM,     &mc_brackets,       LOWER SYMBOLS)

        COMBO(cb_caret,         RTI RTM,     &mc_caret,          RAISE SYMBOLS)
        COMBO(cb_dollar,        RHI RHM,     &mc_dollar,         SYMBOLS)
        COMBO(cb_tilde,         RBI RBM,     &mc_tilde,          SYMBOLS)
        COMBO(cb_euro,          RHM RHR,     &mc_euro,           SYMBOLS)
        COMBO(cb_bslash,        RBM RBR,     &mc_bslash,         SYMBOLS)
        COMBO(cb_section,       RHI RHM RHR, &mc_section,        SYMBOLS)
        COMBO(cb_sarrow,        RHI RHM,     &th_sarrow 0 0,     RAISE)
        COMBO(cb_eqeq,          RHM RHR,     &mc_eqeq,           RAISE)
        COMBO(cb_noteq,         RHI RHM RHR, &mc_noteq,          RAISE)
        COMBO(cb_lt,            RBI RBM,     &th_lt 0 0,         RAISE)
        COMBO(cb_gt,            RBM RBR,     &th_gt 0 0,         RAISE)
        COMBO(cb_ltgt,          RBI RBM RBR, &mc_ltgt,           RAISE)

        COMBO(cb_build,         LHI LHM,     &mm_build,          SHORTCUTS)
        COMBO(cb_refact,        LBI LBM,     &mm_refac,          SHORTCUTS)
        COMBO(cb_join,          RBI RBM,     &mc_join,           SHORTCUTS)
        COMBO(cb_refresh_z0,    RHM RHR,     &mm_refresh_z0,     SHORTCUTS)
        COMBO(cb_close_tab_win, RBM RBR,     &mm_close_tab_win,  SHORTCUTS)

        COMBO(cb_esc_save,      LTR LTM L0,  &mc_save_esc,       ALPHA1 SEN_CASE SEN_E1 SEN_E2)

        COMBO(cb_enter,         RHM RHR R0,  &kp ENTER,          ALPHA1 CASE_A1 ALPHA2 CASE_A2 NUMPAD LOWER RAISE SYMBOLS NAV NAV_F SHORTCUTS SHORTCUTS_EXT SEN_CASE SEN_E1 SEN_E2)
        COMBO(cb_backspace,     RTM RTR,     &kp BACKSPACE,      ALPHA1 CASE_A1 ALPHA2 CASE_A2 NUMPAD LOWER RAISE SYMBOLS NAV NAV_F SHORTCUTS SHORTCUTS_EXT SEN_CASE SEN_E1 SEN_E2)
        COMBO(cb_tab,           RTM RTR R0,  &kp TAB,            ALPHA1 CASE_A1 ALPHA2 CASE_A2 NUMPAD LOWER RAISE SYMBOLS NAV NAV_F SHORTCUTS SHORTCUTS_EXT SEN_CASE SEN_E1 SEN_E2)

        COMBO(cb_paste,         RBI RBM R0,  &mc_paste,          ALPHA1 CASE_A1 NUMPAD NAV NAV_F SEN_CASE SEN_E1 SEN_E2)
        COMBO(cb_copy,          RHI RHM R0,  &mc_copy,           ALPHA1 CASE_A1 NUMPAD NAV NAV_F SEN_CASE SEN_E1 SEN_E2)
        COMBO(cb_selall,        RBM RBR R0,  &mc_selall,         ALPHA1 CASE_A1 NUMPAD SEN_CASE SEN_E1 SEN_E2)

        COMBO(cb_selcopy,       RHI RHM RHR R0,  &mc_selcopy,    ALPHA1 CASE_A1 NUMPAD SEN_CASE SEN_E1 SEN_E2)
        COMBO(cb_selpaste,      RBI RBM RBR R0,  &mc_selpaste,   ALPHA1 CASE_A1 NUMPAD SEN_CASE SEN_E1 SEN_E2)

        COMBO(cb_o_esc,         RHI RHM,     &mc_o_esc,          MEDIA)
        COMBO(cb_sft_o_esc,     RHM RHR,     &mc_sft_o_esc,      MEDIA)
        COMBO(cb_epa,           RBI RBM,     &mc_epa,            MEDIA)
        COMBO(cb_semi,          RBM RBR,     &th_semi 0 0,       ALPHA1 CASE_A1 LOWER SEN_CASE SEN_E1 SEN_E2)
        COMBO(cb_sent,          RBI RBM RBR, &mc_end_semi_ent,   ALPHA1 CASE_A1 SEN_CASE SEN_E1 SEN_E2)

        COMBO(cb_end_ent,       RTM RTR,     &th_end_ent 0 0,    MEDIA)
    };
};