/*
*
* Copyright (c) 2022 Rafael Romão
* SPDX-License-Identifier: MIT
*
*/
/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LTP LTR LTM LTI LTC │ │ RTC RTI RTM RTR RTP │
  │ LHP LHR LHM LHI LHC │ │ RHC RHI RHM RHR RHP │
  │ LBP LBR LBM LBI LBC │ │ RBC RBI RBM RBR RBP │
  ╰───────╮ L2  L1  L0  │ │ R0  R1  R2  ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

&leader {
	timeout-ms = <500>;
};

/ {

    #define LEADER_MACRO(NAME, BINDINGS) \
        NAME: NAME { \
			compatible = "zmk,behavior-macro"; \
            label = ZMK_MACRO_STRINGIFY(NAME); \
            #binding-cells = <0>; \
            wait-ms = <10>; \
            tap-ms = <10>; \
            bindings = <&macro_tap BINDINGS>; \
        };

	#define LEADER_SEQ(NAME, KEYS, BINDINGS, LAYERS) \
		NAME { \
			key-positions = <KEYS>; \
			bindings = <BINDINGS>; \
			layers = <LAYERS>; \
		};

	macros {

        // Leader sequence example
        LEADER_MACRO(mc_euro, &kp LS(LA(N2)))
	};

	leader_sequences {
		compatible = "zmk,leader-sequences";

        // Leader sequence example
		LEADER_SEQ(ld_euro, RHR, &mc_euro, ALPHA1)
	};
};