/*
*
* Copyright (c) 2022 Rafael Romão
* SPDX-License-Identifier: MIT
*
*/

/ {
    #define THUMB_LAYERTAP(NAME, BINDINGS) \
         NAME: NAME { \
            compatible = "zmk,behavior-hold-tap"; \
            label = ZMK_MACRO_STRINGIFY(NAME); \
            #binding-cells = <2>; \
            tapping-term-ms = <TAPPING_TERM>; \
            flavor = "tap-preferred"; \
            quick-tap-ms = <QUICK_TAP_TERM>; \
            global-quick-tap; \
            bindings = <&mo>, <BINDINGS>; \
        };

    #define THUMB_MACRO(NAME, BINDINGS) \
        NAME: NAME { \
			compatible = "zmk,behavior-macro"; \
            label = ZMK_MACRO_STRINGIFY(NAME); \
            #binding-cells = <0>; \
            wait-ms = <10>; \
            tap-ms = <10>; \
            bindings = <&macro_tap BINDINGS>; \
        };

    thumbs {
        smart_case: smart_case {
            compatible = "zmk,behavior-caps-word";
            label = ZMK_MACRO_STRINGIFY(smart_case);
            ignore-alphas;
            ignore-modifiers;
			#binding-cells = <0>;  
            layers = <CASE>;
            continue-list = <UNDERSCORE MINUS BACKSPACE DELETE SQT TILDE CARET GRAVE>;
        };

        ht_sc: ht_sc {
            compatible = "zmk,behavior-hold-tap";
            label = ZMK_MACRO_STRINGIFY(ht_sc);
            #binding-cells = <2>;
            tapping-term-ms = <TAPPING_TERM>;
            flavor = "tap-preferred";
            quick-tap-ms = <QUICK_TAP_TERM>;
            bindings = <&mo>, <&smart_case>;
        };

        ht_repeat: ht_repeat {
            compatible = "zmk,behavior-hold-tap";
            label = ZMK_MACRO_STRINGIFY(ht_repeat);
            #binding-cells = <2>;
            tapping-term-ms = <TAPPING_TERM>;
            flavor = "tap-preferred";
            quick-tap-ms = <QUICK_TAP_TERM>;
            bindings = <&mo>, <&key_repeat>;
        };

        med_sc: med_sc {
            compatible = "zmk,behavior-mod-morph";
            label = ZMK_MACRO_STRINGIFY(med_sc);
            #binding-cells = <0>;
            bindings = <&msk MEDIA LSHFT>, <&smart_case>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        smart_num: smart_num {
            compatible = "zmk,behavior-caps-word";
            label = ZMK_MACRO_STRINGIFY(smart_num);
            ignore-numbers;
			#binding-cells = <0>;
            layers = <NUMPAD>;
            continue-list = <BSPC DEL DOT COMMA PLUS MINUS STAR FSLH EQUAL F1 F2 F3 F4 F5 F6 F7 F8 F9 F10 F11 F12>;
        };

        THUMB_MACRO(mc_smart_num,     &to ROMAK &smart_num)
        THUMB_MACRO(mc_cancel,        &kp K_CANCEL)
        THUMB_MACRO(mc_sp_ns,         &kp SPACE &sl SEN_E1)
        THUMB_MACRO(mc_nsen,          &sl SEN_E1)
        THUMB_LAYERTAP(th_sp_ns,      &mc_sp_ns)
        THUMB_LAYERTAP(th_cancel,     &mc_cancel)
        THUMB_LAYERTAP(th_nsen,       &mc_nsen)
    };
};