/*
*
* Copyright (c) 2022 Rafael Romão
* SPDX-License-Identifier: MIT
*
*/

/ {
    accents {
        ACCENT(ac_agrv, A, GRAVE, AGRV_TERM, C_AGRV_TERM, S_AGRV_TERM)
        ACCENT(ac_aacu, A, SQT  , AACU_TERM, C_AACU_TERM, S_AACU_TERM)
        ACCENT(ac_atil, A, TILDE, ATIL_TERM, C_ATIL_TERM, S_ATIL_TERM)
        ACCENT(ac_acir, A, CARET, ACIR_TERM, C_ACIR_TERM, S_ACIR_TERM)
        ACCENT(ac_eacu, E, SQT  , EACU_TERM, C_EACU_TERM, S_EACU_TERM)
        ACCENT(ac_ecir, E, CARET, ECIR_TERM, C_ECIR_TERM, S_ECIR_TERM)
        ACCENT(ac_iacu, I, SQT  , IACU_TERM, C_IACU_TERM, S_IACU_TERM)
        ACCENT(ac_oacu, O, SQT  , OACU_TERM, C_OACU_TERM, S_OACU_TERM)
        ACCENT(ac_otil, O, TILDE, OTIL_TERM, C_OTIL_TERM, S_OTIL_TERM)
        ACCENT(ac_ocir, O, CARET, OCIR_TERM, C_OCIR_TERM, S_OCIR_TERM)
        ACCENT(ac_uacu, U, SQT  , UACU_TERM, C_UACU_TERM, S_UACU_TERM)

        MACRO(mc_qu,       &macro_tap &kp Q &macro_wait_time 10 &macro_tap &kp U &kp QU_TERM)
        MACRO(mc_qu_c,     &macro_press &kp LSHFT &macro_tap &kp Q &macro_wait_time 10 &macro_tap &kp U &kp C_QU_TERM &macro_release &kp LSHFT)
        MACRO(mc_qu_s,     &macro_press &kp LSHFT &macro_tap &kp Q &macro_wait_time 10 &macro_release &kp LSHFT &macro_tap &kp U &kp S_QU_TERM)
        MACRO(mc_aotil,    &macro_tap &macro_wait_time 10 &macro_tap &ac_atil &kp O)
        MACRO(mc_aotil_c,  &macro_tap &macro_wait_time 10 &macro_tap &ac_atil_c &kp RS(O))
        MACRO(mc_otiles,   &macro_tap &ac_otil &macro_wait_time 10 &kp E &kp S)
        MACRO(mc_otiles_c, &macro_tap &ac_otil_c &macro_wait_time 10 &kp RS(E) &kp RS(S))
    };
};