/*
*
* Copyright (c) 2022 Rafael Romão
* SPDX-License-Identifier: MIT
*
*/

/ {
    #define ACCENTED_KEY(NAME, KEY, DEAD_KEY, TERM, C_TERM, S_TERM) \
        NAME: NAME { \
            wait-ms = <0>; \
            tap-ms = <0>; \
            compatible = "zmk,behavior-macro"; \
            #binding-cells = <0>; \
            bindings \
                = <&macro_tap &kp DEAD_KEY> \
                , <&macro_tap &kp KEY> \
                , <&macro_tap &kp TERM> \
                ; \
        }; \
        NAME##_c: NAME##_c { \
            wait-ms = <0>; \
            tap-ms = <0>; \
            compatible = "zmk,behavior-macro"; \
            #binding-cells = <0>; \
            bindings \
                = <&macro_release &kp LSHFT> \
                , <&macro_tap &kp DEAD_KEY> \
                , <&macro_press &kp LSHFT> \
                , <&macro_tap &kp KEY> \
                , <&macro_release &kp LSHFT> \
                , <&macro_tap &kp C_TERM> \
                ; \
        }; \
        NAME##_s: NAME##_s { \
            wait-ms = <0>; \
            tap-ms = <0>; \
            compatible = "zmk,behavior-macro"; \
            #binding-cells = <0>; \
            bindings \
                = <&macro_release &kp LSHFT> \
                , <&macro_tap &kp DEAD_KEY> \
                , <&macro_press &kp LSHFT> \
                , <&macro_tap &kp KEY> \
                , <&macro_release &kp LSHFT> \
                , <&macro_tap &kp S_TERM> \
                ; \
        }; \
    
    #define MACRO_KEY(NAME, BINDINGS) \
        NAME: NAME { \
			compatible = "zmk,behavior-macro"; \
            #binding-cells = <0>; \
            wait-ms = <0>; \
            tap-ms = <0>; \
            bindings = <BINDINGS>; \
        };


    accents {
        ACCENTED_KEY(ac_agrv, A, GRAVE, AGRV_TERM, C_AGRV_TERM, S_AGRV_TERM)
        ACCENTED_KEY(ac_aacu, A, SQT  , AACU_TERM, C_AACU_TERM, S_AACU_TERM)
        ACCENTED_KEY(ac_atil, A, TILDE, ATIL_TERM, C_ATIL_TERM, S_ATIL_TERM)
        ACCENTED_KEY(ac_acir, A, CARET, ACIR_TERM, C_ACIR_TERM, S_ACIR_TERM)
        ACCENTED_KEY(ac_eacu, E, SQT  , EACU_TERM, C_EACU_TERM, S_EACU_TERM)
        ACCENTED_KEY(ac_ecir, E, CARET, ECIR_TERM, C_ECIR_TERM, S_ECIR_TERM)
        ACCENTED_KEY(ac_iacu, I, SQT  , IACU_TERM, C_IACU_TERM, S_IACU_TERM)
        ACCENTED_KEY(ac_oacu, O, SQT  , OACU_TERM, C_OACU_TERM, S_OACU_TERM)
        ACCENTED_KEY(ac_otil, O, TILDE, OTIL_TERM, C_OTIL_TERM, S_OTIL_TERM)
        ACCENTED_KEY(ac_ocir, O, CARET, OCIR_TERM, C_OCIR_TERM, S_OCIR_TERM)
        ACCENTED_KEY(ac_uacu, U, SQT  , UACU_TERM, C_UACU_TERM, S_UACU_TERM)
        ACCENTED_KEY(ac_cced, C, SQT  , CCED_TERM, C_CCED_TERM, S_CCED_TERM)

        MACRO_KEY(mc_ced,      &ac_cced &sl CCEDIL)
        MACRO_KEY(mc_ced_c,    &ac_cced_c &sl CASE_CCEDIL)
        MACRO_KEY(mc_ced_s,    &ac_cced_s &sl CCEDIL)
        MACRO_KEY(mc_qu,       &macro_tap &kp Q &macro_wait_time 10 &macro_tap &kp U &kp QU_TERM)
        MACRO_KEY(mc_qu_c,     &macro_press &kp LSHFT &macro_tap &kp Q &macro_wait_time 10 &macro_tap &kp U &macro_release &kp LSHFT &kp C_QU_TERM)
        MACRO_KEY(mc_qu_s,     &macro_press &kp LSHFT &macro_tap &kp Q &macro_wait_time 10 &macro_release &kp LSHFT &macro_tap &kp U &kp S_QU_TERM)
        MACRO_KEY(mc_aotil,    &macro_tap &macro_wait_time 10 &macro_tap &ac_atil &kp O)
        MACRO_KEY(mc_aotil_c,  &macro_tap &macro_wait_time 10 &macro_tap &ac_atil_c &kp LS(O))
        MACRO_KEY(mc_otiles,   &macro_tap &ac_otil &macro_wait_time 10 &kp E &kp S)
        MACRO_KEY(mc_otiles_c, &macro_tap &ac_otil_c &macro_wait_time 10 &kp LS(E) &kp LS(S))
    };
};