/*
*
* Copyright (c) 2022 Rafael Romão
* SPDX-License-Identifier: MIT
*
*/

/ {
    accents {
        ACCENT(ac_agrv, A, GRAVE)
        ACCENT(ac_aacu, A, SQT  )
        ACCENT(ac_atil, A, TILDE)
        ACCENT(ac_acir, A, CARET)
        ACCENT(ac_eacu, E, SQT  )
        ACCENT(ac_ecir, E, CARET)
        ACCENT(ac_iacu, I, SQT  )
        ACCENT(ac_oacu, O, SQT  )
        ACCENT(ac_otil, O, TILDE)
        ACCENT(ac_ocir, O, CARET)
        ACCENT(ac_uacu, U, SQT  )

        MACRO(mc_qu,       &macro_tap &kp Q &macro_wait_time 10 &macro_tap &kp U &sl ALTREP2)
        MACRO(mc_qu_s,     &macro_press &kp LSHFT &macro_tap &kp Q &macro_wait_time 10 &macro_release &kp LSHFT &macro_tap &kp U &sl ALTREP2)
        MACRO(mc_qu_c,     &macro_press &kp RSHFT &macro_tap &kp Q &macro_wait_time 10 &macro_tap &kp U &macro_release &kp RSHFT &sl ALTREP2)
        MACRO(mc_aotil,    &macro_tap &macro_wait_time 10 &macro_tap &ac_atil &kp O)
        MACRO(mc_aotil_c,  &macro_tap &macro_wait_time 10 &macro_tap &ac_atil_c &kp RS(O))
        MACRO(mc_otiles,   &macro_tap &ac_otil &macro_wait_time 10 &kp E &kp S)
        MACRO(mc_otiles_c, &macro_tap &ac_otil_c &macro_wait_time 10 &kp RS(E) &kp RS(S))
    };
};