/*
*
* Copyright (c) 2022 Rafael Romão
* SPDX-License-Identifier: MIT
*
*/

/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LTP LTR LTM LTI LTC │ │ RTC RTI RTM RTR RTP │
  │ LHP LHR LHM LHI LHC │ │ RHC RHI RHM RHR RHP │
  │ LBP LBR LBM LBI LBC │ │ RBC RBI RBM RBR RBP │
  ╰───────╮ L2  L1  L0  │ │ R0  R1  R2  ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

/ {
    #define COMBO_TERM 50

    #define COMBO(NAME, KEYS, BINDINGS, LAYERS) \
        NAME { \
            timeout-ms = <COMBO_TERM>; \
            layers = <LAYERS>; \
            key-positions = <KEYS>; \
            bindings = <BINDINGS>; \
        };

    combos {
        compatible = "zmk,combos";

        COMBO(cb_save,          LHR LHM L0,  &mc_save,           ALPHA1 CASE_A1 NUMPAD NAV NAV_F SHORTS_L SHORTS_R SHORTCUTS_EXT SEN_CASE SEN_E1 SEN_E2 CAMEL_CASE SNAKE_CASE NMODS CODING)
        COMBO(cb_escc,          LTR LTM,     &mc_escc,           ALPHA1 CASE_A1 NUMPAD NAV NAV_F SHORTS_L SHORTS_R SHORTCUTS_EXT SEN_CASE SEN_E1 SEN_E2 CAMEL_CASE SNAKE_CASE NMODS CODING)
        COMBO(cb_fullscr,       LHM LHI L0,  &mc_fullscr,        ALPHA1 CASE_A1 NUMPAD NAV NAV_F SHORTS_L SHORTS_R SHORTCUTS_EXT SEN_CASE SEN_E1 SEN_E2 CAMEL_CASE SNAKE_CASE)
        COMBO(cb_find,          LBM LBI L0,  &mc_find,           ALPHA1 CASE_A1 NUMPAD NAV NAV_F SHORTS_L SHORTS_R SHORTCUTS_EXT SEN_CASE SEN_E1 SEN_E2 CAMEL_CASE SNAKE_CASE)
        COMBO(cb_undo,          LBR LBM L0,  &mc_undo,           ALPHA1 CASE_A1 NUMPAD NAV NAV_F SHORTS_L SHORTS_R SHORTCUTS_EXT SEN_CASE SEN_E1 SEN_E2 CAMEL_CASE SNAKE_CASE)

        COMBO(cb_paste,         RBI RBM R0,  &mc_paste,          ALPHA1 CASE_A1 LOWER NUMPAD NAV NAV_F SHORTS_L SHORTS_R SHORTCUTS_EXT SEN_CASE SEN_E1 SEN_E2 CAMEL_CASE SNAKE_CASE)
        COMBO(cb_copy,          RHI RHM R0,  &mc_copy,           ALPHA1 CASE_A1 LOWER NUMPAD NAV NAV_F SHORTS_L SHORTS_R SHORTCUTS_EXT SEN_CASE SEN_E1 SEN_E2 CAMEL_CASE SNAKE_CASE)
        COMBO(cb_selall,        RBM RBR R0,  &mc_selall,         ALPHA1 CASE_A1 LOWER NUMPAD SHORTS_L SHORTS_R SHORTCUTS_EXT SEN_CASE SEN_E1 SEN_E2 CAMEL_CASE SNAKE_CASE)

        COMBO(cb_selcopy,       RHI RHM RHR R0,  &mc_selcopy,    ALPHA1 CASE_A1 LOWER NUMPAD SHORTS_L SHORTS_R SHORTCUTS_EXT SEN_CASE SEN_E1 SEN_E2 CAMEL_CASE SNAKE_CASE)
        COMBO(cb_selpaste,      RBI RBM RBR R0,  &mc_selpaste,   ALPHA1 CASE_A1 LOWER NUMPAD SHORTS_L SHORTS_R SHORTCUTS_EXT SEN_CASE SEN_E1 SEN_E2 CAMEL_CASE SNAKE_CASE)

        COMBO(cb_numword,       LBR LBM,     &custom_num_word,   ALPHA1 CASE_A1 SEN_CASE SEN_E1 NUMPAD NMODS)

        COMBO(cb_k,             LTM LTI,     &kp K,              ALPHA1 SEN_CASE)
        COMBO(cb_w,             LHM LHI,     &ht_w 0 0,          ALPHA1 SEN_CASE)
        COMBO(cb_v,             LBI LBM,     &hyp_v 0 0,         ALPHA1 SEN_CASE)
        COMBO(cb_q,             LHR LHM,     &ht_q 0 0,          ALPHA1 SEN_CASE)

        COMBO(cb_kc,            LTM LTI,     &kp LS(K),          CASE_A1 SEN_E1)
        COMBO(cb_wc,            LHM LHI,     &kp LS(W),          CASE_A1 SEN_E1)
        COMBO(cb_vc,            LBI LBM,     &kp LS(V),          CASE_A1 SEN_E1)
        COMBO(cb_qc,            LHR LHM,     &kp LS(Q),          CASE_A1 SEN_E1)

        COMBO(cb_comm,          RHP R0,      &kp COMMA,          LOWER NUMPAD)

        COMBO(cb_x,             RTI RTM,     &kp X,              ALPHA1 SEN_CASE)
        COMBO(cb_z,             RHI RHM,     &ht_z 0 0,          ALPHA1 SEN_CASE)
        COMBO(cb_j,             RBI RBM,     &hyp_j 0 0,         ALPHA1 SEN_CASE)
        COMBO(cb_y,             RHM RHR,     &kp Y,              ALPHA1 SEN_CASE)
        COMBO(cb_d,             RTI RTM RTR, &kp D,              ALPHA1 SEN_CASE)
        COMBO(cb_p,             RHI RHM RHR, &ht_p 0 0,          ALPHA1 SEN_CASE)
        COMBO(cb_grva,          RBM RBR,     &ac_agrv,           ALPHA2)

        COMBO(cb_xc,            RTI RTM,     &kp LS(X),          CASE_A1 SEN_E1)
        COMBO(cb_zc,            RHI RHM,     &kp LS(Z),          CASE_A1 SEN_E1)
        COMBO(cb_jc,            RBI RBM,     &kp LS(J),          CASE_A1 SEN_E1)
        COMBO(cb_yc,            RHM RHR,     &kp LS(Y),          CASE_A1 SEN_E2)
        COMBO(cb_dc,            RTI RTM RTR, &kp LS(D),          CASE_A1 SEN_E2)
        COMBO(cb_pc,            RHI RHM RHR, &kp LS(P),          CASE_A1 SEN_E2)
        COMBO(cb_grvac,         RBM RBR,     &ac_agrv_c,         CASE_A1 SEN_E2)

        COMBO(cb_sfg,           RTI RTM,     &kp LS(G),          LOWER NUMPAD)
        COMBO(cb_jv,            RHI RHM,     &kp A,              LOWER NUMPAD)
        COMBO(cb_pipev,         RBI RBM,     &kp PIPE,           LOWER NUMPAD)
        COMBO(cb_kv,            RHM RHR,     &kp E,              LOWER NUMPAD)
        COMBO(cb_zz,            RHI RHM RHR, &mc_zz,             LOWER NUMPAD)

        COMBO(cb_f10,           LBM LBI,     &kp F10,            RAISE NUMPAD)
        COMBO(cb_f11,           LHM LHI,     &kp F11,            RAISE NUMPAD)
        COMBO(cb_f12,           LTM LTI,     &kp F12,            RAISE NUMPAD)
        COMBO(cb_f13,           LBM LBR,     &kp F13,            RAISE)
        COMBO(cb_f14,           LHM LHR,     &kp F14,            RAISE)
        COMBO(cb_f15,           LTM LTR,     &kp F15,            RAISE)

        COMBO(cb_lpa,           LHR LHM,     &kp LPAR,           ALPHA2 CASE_A2 SEN_E2)
        COMBO(cb_unds,          LBR LBM,     &mm_unds,           ALPHA2 CASE_A2 SEN_E2)
        COMBO(cb_dqo,           LTI LTM,     &mc_dqo,            ALPHA2 CASE_A2 SEN_E2)
        COMBO(cb_sqo,           LHM LHI,     &mc_sqo,            ALPHA2 CASE_A2 SEN_E2)
        COMBO(cb_qmark,         LBI LBM,     &mc_qmark,          ALPHA2 CASE_A2 SEN_E2)

        COMBO(cb_rpa,           RHM RHR,     &kp RPAR,           ALPHA2 CASE_A2 SEN_E2)
        COMBO(cb_colon,         RTI RTM,     &mc_colon,          ALPHA2 CASE_A2 SEN_E2)
        COMBO(cb_minus,         RHI RHM,     &mc_minus,          ALPHA2 CASE_A2 SEN_E2)
        COMBO(cb_excl,          RBI RBM,     &mc_excl,           ALPHA2 CASE_A2 SEN_E2)

        COMBO(cb_bsl,           LTI LTM,     &kp BACKSLASH,      LOWER)
        COMBO(cb_sqo2,          LHM LHI,     &mc_sqo,            LOWER)
        COMBO(cb_bti,           LBM LBI,     &mc_bti,            LOWER)
        COMBO(cb_braces,        LTR LTM,     &mc_braces,         LOWER)

        COMBO(cb_euro,          LTM LTI,     &mc_euro,           SYMBOLS)
        COMBO(cb_sqo_s,         LHM LHI,     &kp SQT,            SYMBOLS)
        COMBO(cb_bti_s,         LBM LBI,     &kp GRAVE,          SYMBOLS)
        COMBO(cb_braces_s,      LTR LTM,     &mc_braces_s,       SYMBOLS)

        COMBO(cb_pars,          LHR LHM,     &th_pars 0 0,       LOWER SYMBOLS)
        COMBO(cb_brackets,      LBR LBM,     &mc_brackets,       LOWER SYMBOLS)

        COMBO(cb_perc,          RTI RTM,     &kp PERCENT,        SYMBOLS)
        COMBO(cb_caret,         RHI RHM,     &kp CARET,          SYMBOLS)
        COMBO(cb_tilde,         RBI RBM,     &kp TILDE,          SYMBOLS)
        COMBO(cb_amps,          RHM RHR,     &kp AMPS,           SYMBOLS)
        COMBO(cb_pipe,          RBM RBR,     &kp PIPE,           SYMBOLS)

        COMBO(cb_eqeq,          RTI RTM,     &mc_eqeq,           RAISE)
        COMBO(cb_noteq,         RTI RTM RTR, &mc_noteq,          RAISE)
        COMBO(cb_caret_sarrow,  RHI RHM,     &th_caret 0 0,      RAISE)
        COMBO(cb_dand_darrow,   RHM RHR,     &th_dand 0 0,       RAISE)
        COMBO(cb_dds,           RHI RHM RHR, &mc_dds,            RAISE)
        COMBO(cb_tild_lte,      RBI RBM,     &th_tilde 0 0,      RAISE)
        COMBO(cb_dor_gte,       RBM RBR,     &th_dor 0 0,        RAISE)
        COMBO(cb_tisl,          RBI RBM RBR, &mc_tisl,           RAISE)

        COMBO(cb_esc_save,      LTR LTM L0,  &mc_save_esc,       ALPHA1 SEN_CASE SEN_E1 SEN_E2)

        COMBO(cb_enter_r,       RHM RHR R0,  &kp ENTER,          ALPHA1 CASE_A1 ALPHA2 CASE_A2 NUMPAD LOWER RAISE SYMBOLS NAV NAV_F SHORTS_L SHORTS_R SHORTCUTS_EXT SEN_CASE SEN_E1 SEN_E2 CAMEL_CASE SNAKE_CASE)
        COMBO(cb_enter_l,       LHM LHR LHI, &ht_enter 0 0,      ALPHA1 CASE_A1 ALPHA2 CASE_A2 NUMPAD LOWER RAISE SYMBOLS NAV NAV_F SHORTS_L SHORTS_R SHORTCUTS_EXT SEN_CASE SEN_E1 SEN_E2 CAMEL_CASE SNAKE_CASE)
        COMBO(cb_backspace,     RTM RTR,     &kp BACKSPACE,      ALPHA1 CASE_A1 ALPHA2 CASE_A2 NUMPAD LOWER RAISE SYMBOLS NAV NAV_F SHORTS_L SHORTS_R SHORTCUTS_EXT SEN_CASE SEN_E1 SEN_E2 CAMEL_CASE SNAKE_CASE CODING)
        COMBO(cb_del,           LBR LBM LBI, &kp DEL,            ALPHA1 CASE_A1 ALPHA2 CASE_A2 NUMPAD LOWER RAISE SYMBOLS NAV NAV_F SHORTS_L SHORTS_R SHORTCUTS_EXT SEN_CASE SEN_E1 SEN_E2 CAMEL_CASE SNAKE_CASE)
        COMBO(cb_tab_r,         RTM RTR R0,  &kp TAB,            ALPHA1 CASE_A1 ALPHA2 CASE_A2 NUMPAD LOWER RAISE SYMBOLS NAV NAV_F SHORTS_L SHORTS_R SHORTCUTS_EXT SEN_CASE SEN_E1 SEN_E2 CAMEL_CASE SNAKE_CASE)
        COMBO(cb_tab_l,         LTM LTR LTI, &kp TAB,            ALPHA1 CASE_A1 ALPHA2 CASE_A2 NUMPAD LOWER RAISE SYMBOLS NAV NAV_F SHORTS_L SHORTS_R SHORTCUTS_EXT SEN_CASE SEN_E1 SEN_E2 CAMEL_CASE SNAKE_CASE)

        COMBO(cb_semi,          RBM RBR,     &th_semi 0 0,       ALPHA1 CASE_A1 LOWER SEN_CASE SEN_E1 SEN_E2)
        COMBO(cb_sent,          RBI RBM RBR, &mc_end_semi_ent,   ALPHA1 CASE_A1 SEN_CASE SEN_E1 SEN_E2 LOWER NUMPAD)

        COMBO(cb_o_esc,         RHI RHM,     &mc_o_esc,          MEDIA)
        COMBO(cb_sft_o_esc,     RHM RHR,     &mc_sft_o_esc,      MEDIA)
        COMBO(cb_mesc,          RTI RTM,     &mc_escc,           MEDIA)
        COMBO(cb_dqt0p,         RHI RHM RHR, &mc_dqt0p,          MEDIA)
        COMBO(cb_vr,            RBI RBM,     &kp V,              MEDIA)
        COMBO(cb_shiftv,        RBM RBR,     &kp LS(V),          MEDIA)
        COMBO(cb_ctrlv,         RBI RBM RBR, &kp LC(V),          MEDIA)
        COMBO(cb_end_ent,       RTM RTR,     &th_end_ent 0 0,    MEDIA NAV NAV_F SHORTS_L SHORTS_R SYSTEM)
    };

    #define COMBO_MUST_TAP(NAME, HOLD, TAP) \
        NAME##hold: NAME##hold { \
            compatible = "zmk,behavior-macro"; \
            #binding-cells = <0>; \
            wait-ms = <0>; \
            tap-ms = <0>; \
            bindings \
                = <&macro_press HOLD> \
                , <&macro_pause_for_release> \
                , <&macro_release HOLD> \
                ; \
        }; \
        NAME##tap: NAME##tap {  \
            compatible = "zmk,behavior-macro";  \
            #binding-cells = <0>; \
            wait-ms = <0>; \
            tap-ms = <0>; \
            bindings = <&macro_tap TAP>; \
        }; \
        NAME: NAME { \
            compatible = "zmk,behavior-hold-tap"; \
            #binding-cells = <2>; \
            tapping-term-ms = <TAPPING_TERM>; \
            flavor = "hold-preferred"; \
            bindings = <&NAME##hold>, <&NAME##tap>; \
        };

    combo_must_tap {

        COMBO_MUST_TAP(ht_w     , &kp LCTL  &kp LGUI                   , &kp W)
        COMBO_MUST_TAP(ht_q     , &kp LSHFT &kp LCTL                   , &kp Q)
        COMBO_MUST_TAP(ht_enter , &kp LSHFT &kp LCTL &kp LGUI          , &kp ENTER)
        COMBO_MUST_TAP(ht_z     , &kp RCTL  &kp RGUI                   , &kp Z)
        COMBO_MUST_TAP(ht_p     , &kp RSHFT &kp RCTL &kp RGUI          , &kp P)
        COMBO_MUST_TAP(hyp_v    , &kp LSHFT &kp LCTL &kp LGUI &kp LALT , &kp V)
        COMBO_MUST_TAP(hyp_j    , &kp RSHFT &kp RCTL &kp RGUI &kp RALT , &kp J)

    };
};