/*
*
* Copyright (c) 2022 Rafael Romão
* SPDX-License-Identifier: MIT
*
*/
/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LTP LTR LTM LTI LTC │ │ RTC RTI RTM RTR RTP │
  │ LHP LHR LHM LHI LHC │ │ RHC RHI RHM RHR RHP │
  │ LBP LBR LBM LBI LBC │ │ RBC RBI RBM RBR RBP │
  ╰───────╮ L2  L1  L0  │ │ R0  R1  R2  ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

&leader {
	timeout-ms = <500>;
};

/ {
	macros {
                MACRO_TAP(mc_section, &kp LA(N6))
                MACRO_TAP(mc_tmux, &kp T &kp M &kp U &kp X)
                MACRO_TAP(mc_nvim, &kp N &kp V &kp I &kp M)
                MACRO_TAP(mc_lazygit, &kp L &kp A &kp Z &kp Y &kp G &kp I &kp T &kp ENTER)
                MACRO_TAP(mc_keyboards, &kp K &kp E &kp Y &kp B &kp O &kp A &kp R &kp D &kp S)
                MACRO_TAP(mc_exit, &kp E &kp X &kp I &kp T &kp ENTER)
                MACRO_TAP(mc_haha, &kp H &kp A &kp H &kp A)
                MACRO_TAP(mc_hehe, &kp H &kp E &kp H &kp E)
                MACRO_TAP(mc_kkkk, &kp K &kp K &kp K &kp K)
                MACRO_TAP(mc_hugs,  &kp LBKT &kp RBKT &kp SQT &kp S)
	};

	leader_sequences {
		compatible = "zmk,leader-sequences";

		LEADER_SEQ(ld_sect      , LHM     , &mc_section   , ALPHA1 SMART FUN)
		LEADER_SEQ(ld_tmux      , LHI     , &mc_tmux      , ALPHA1 SMART FUN)
		LEADER_SEQ(ld_nvim      , LHR     , &mc_nvim      , ALPHA1 SMART FUN)
		LEADER_SEQ(ld_lazygit   , LTI     , &mc_lazygit   , ALPHA1 SMART FUN)
		LEADER_SEQ(ld_keyboards , R0 LTI  , &mc_keyboards , ALPHA1 SMART FUN)
		LEADER_SEQ(ld_exit      , RBR     , &mc_exit      , ALPHA1 SMART FUN)
		LEADER_SEQ(ld_haha      , RTM     , &mc_haha      , ALPHA1 SMART FUN)
		LEADER_SEQ(ld_hehe      , RTR     , &mc_hehe      , ALPHA1 SMART FUN)
		LEADER_SEQ(ld_kkkk      , RHP     , &mc_kkkk      , ALPHA1 SMART FUN)
                LEADER_SEQ(ld_hugs      , LBM LBR , &mc_hugs      , ALPHA1 SMART FUN)
	};
};