/*
*
* Copyright (c) 2022 Rafael Romão
* SPDX-License-Identifier: MIT
*
*/
/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LTP LTR LTM LTI LTC │ │ RTC RTI RTM RTR RTP │
  │ LHP LHR LHM LHI LHC │ │ RHC RHI RHM RHR RHP │
  │ LBP LBR LBM LBI LBC │ │ RBC RBI RBM RBR RBP │
  ╰───────╮ L2  L1  L0  │ │ R0  R1  R2  ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

/ {
        leader: leader {
            compatible = "zmk,behavior-leader-key";
            #binding-cells = <0>;
            ld_section { sequence = <S>    ; bindings = <&kp LA(N6)>; };
            ld_exit    { sequence = <DOT>  ; bindings = <&kp E &kp X &kp I &kp T &kp ENTER>; };
            ld_haha    { sequence = <O>    ; bindings = <&kp H &kp A &kp H &kp A>; };
            ld_hehe    { sequence = <U>    ; bindings = <&kp H &kp E &kp H &kp E>; };
            ld_kkkk    { sequence = <I>    ; bindings = <&kp K &kp K &kp K &kp K>; };
            ld_hugs    { sequence = <C F>  ; bindings = <&kp LBKT &kp RBKT &kp SQT &kp S>; };
        };
};