/*
*
* Copyright (c) 2022 Rafael Romão
* SPDX-License-Identifier: MIT
*
*/
/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LTP LTR LTM LTI LTC │ │ RTC RTI RTM RTR RTP │
  │ LHP LHR LHM LHI LHC │ │ RHC RHI RHM RHR RHP │
  │ LBP LBR LBM LBI LBC │ │ RBC RBI RBM RBR RBP │
  ╰───────╮ L2  L1  L0  │ │ R0  R1  R2  ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

&leader {
	timeout-ms = <500>;
};

/ {
	macros {
                MACRO_TAP(mc_section, &kp LA(N6))
                MACRO_TAP(mc_exit, &kp E &kp X &kp I &kp T &kp ENTER)
                MACRO_TAP(mc_haha, &kp H &kp A &kp H &kp A)
                MACRO_TAP(mc_hehe, &kp H &kp E &kp H &kp E)
                MACRO_TAP(mc_kkkk, &kp K &kp K &kp K &kp K)
                MACRO_TAP(mc_hugs, &kp LBKT &kp RBKT &kp SQT &kp S)
	};
        
        leader: leader {
            compatible = "zmk,behavior-leader-key";
            #binding-cells = <0>;
            ld_section { sequence = <S>    ; bindings = <&mc_section>; };
            ld_exit    { sequence = <DOT>  ; bindings = <&mc_exit>; };
            ld_haha    { sequence = <O>    ; bindings = <&mc_haha>; };
            ld_hehe    { sequence = <U>    ; bindings = <&mc_hehe>; };
            ld_kkkk    { sequence = <I>    ; bindings = <&mc_kkkk>; };
            ld_hugs    { sequence = <C F>  ; bindings = <&mc_hugs>; };
            ld_os      { sequence = <D>    ; bindings = <&mc_os>; };
        };
};