/*
*
* Copyright (c) 2022 Rafael Romão
* SPDX-License-Identifier: MIT
*
*/

/ {
    #define THUMB_LAYERTAP(NAME, BINDINGS) \
         NAME: NAME { \
            compatible = "zmk,behavior-hold-tap"; \
            #binding-cells = <2>; \
            tapping-term-ms = <QUICK_TAP_TERM>; \
            flavor = "tap-preferred"; \
            quick-tap-ms = <0>; \
            require-prior-idle-ms = <QUICK_TAP_TERM>; \
            bindings = <&mo>, <BINDINGS>; \
        };

    #define THUMB_MACRO(NAME, BINDINGS) \
        NAME: NAME { \
			compatible = "zmk,behavior-macro"; \
            #binding-cells = <0>; \
            wait-ms = <10>; \
            tap-ms = <10>; \
            bindings = <&macro_tap BINDINGS>; \
        };

    #define THUMB_MORPH(NAME, MODS, MODDED, UNMODDED) \
        NAME: NAME { \
            compatible = "zmk,behavior-mod-morph"; \
            #binding-cells = <0>; \
            bindings = <UNMODDED>, <MODDED>; \
            mods = <(MODS)>; \
        };

    #define THUMB_COMBO_MORPH(NAME, FIRST_MOD, SECOND_MOD, IF_BOTH, OR_ELSE) \
        NAME##_CHECK_SECOND: NAME##_CHECK_SECOND { \
            compatible = "zmk,behavior-mod-morph"; \
            #binding-cells = <0>; \
            bindings = <OR_ELSE>, <IF_BOTH>; \
            mods = <(SECOND_MOD)>; \
        }; \
        NAME: NAME { \
            compatible = "zmk,behavior-mod-morph"; \
            #binding-cells = <0>; \
            bindings = <OR_ELSE>, <&NAME##_CHECK_SECOND>; \
            mods = <(FIRST_MOD)>; \
        };

    thumbs {
        
        // ********************** CUSTOM HOLD TAPS ********************** //

        ltn: layer-tap-no-quick-tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <QUICK_TAP_TERM>;
            flavor = "tap-preferred";
            quick-tap-ms = <0>;
            bindings = <&mo>, <&kp>;
        };
        msl: layer-tap-with-stick-layer {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <QUICK_TAP_TERM>;
            flavor = "tap-preferred";
            quick-tap-ms = <0>;
            bindings = <&mo>, <&sl>;
        };
        msk: layer-tap-with-stick-key {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <QUICK_TAP_TERM>;
            flavor = "tap-preferred";
            quick-tap-ms = <0>;
            bindings = <&mo>, <&sk>;
        };
        mst: layer-tap-with-tog-key {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <QUICK_TAP_TERM>;
            flavor = "tap-preferred";
            quick-tap-ms = <0>;
            bindings = <&mo>, <&tog>;
        };

        // ********************** SENTENCE CASE ********************** //

        tc_cancel: tc_cancel {
			compatible = "zmk,behavior-macro";
            label = "tc_cancel";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&macro_tap &kp K_CANCEL>;
        };
        THUMB_MACRO(tc_sp_ns,         &kp SPACE &sl SEN_E1)
        THUMB_MACRO(tc_nsen,          &sl SEN_E1)
        THUMB_LAYERTAP(th_sp_ns,      &tc_sp_ns)
        THUMB_LAYERTAP(th_cancel,     &tc_cancel)
        THUMB_LAYERTAP(th_nsen,       &tc_nsen)

        // ********************** NUM WORD ********************** //

        custom_num_word: custom_num_word {
            compatible = "zmk,behavior-caps-word";
            ignore-numbers;
			#binding-cells = <0>;
            layers = <NUMPAD>;
            continue-list = <BSPC DEL DOT COMMA PLUS MINUS STAR FSLH EQUAL MOVE_LEFT MOVE_RIGHT MOVE_UP MOVE_DOWN SCRL_DOWN SCRL_UP RCLK LCLK>;
        };

        THUMB_MACRO(tc_custom_num_word, &to ALPHA1 &custom_num_word)

        // ******************* CAPS WORD ******************* //

        custom_caps_word: custom_caps_word {
            compatible = "zmk,behavior-caps-word";
            ignore-alphas;
            ignore-modifiers;
			#binding-cells = <0>;  
            layers = <CASE_A1>;
            continue-list = <UNDERSCORE MINUS BACKSPACE DELETE SQT TILDE CARET GRAVE >;
        };

        THUMB_MACRO(tc_shift_layer, &sl SHIFT_A1)

        ht_shift: ht_shift {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <QUICK_TAP_TERM>;
            flavor = "tap-preferred";
            quick-tap-ms = <0>;
            bindings = <&mo>, <&tc_shift_layer>;
        };

        ht_caps: ht_caps {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <QUICK_TAP_TERM>;
            flavor = "tap-preferred";
            quick-tap-ms = <0>;
            bindings = <&mo>, <&custom_caps_word>;
        };

        // ******************** REPEAT KEY ******************** //

        labeled_key_repeat: labeled_key_repeat {
			compatible = "zmk,behavior-macro";
            label = "labeled_key_repeat";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&macro_tap &key_repeat>;
        };

        smart_repeat: smart_repeat {
            compatible = "zmk,behavior-antecedent-morph";
            label = "smart_repeat";
            #binding-cells = <0>;
            max-delay-ms = <ADAPTIVE_KEY_TIMEOUT>;
            defaults = <&labeled_key_repeat>;
            antecedents = <
                           A             AACU_TERM     ATIL_TERM     ACIR_TERM     AGRV_TERM                                     C_CEDIL                      \
                                         EACU_TERM     ECIR_TERM                                    H              I             IACU_TERM        J           \
                           K                                                                        OACU_TERM      OTIL_TERM     OCIR_TERM                    \
                                         QU_TERM                                                    U              UACU_TERM     V                W           \
                           X             Y                           DOT                                                                                      \

                           LS(A)         C_AACU_TERM   C_ATIL_TERM   C_ACIR_TERM   C_AGRV_TERM                                   LS(C_CEDIL)                  \
                                         C_EACU_TERM   C_ECIR_TERM                                  LS(H)          LS(I)         C_IACU_TERM      LS(J)       \
                           LS(K)                                                                    C_OACU_TERM    C_OTIL_TERM   C_OCIR_TERM                  \
                                         C_QU_TERM                                                  LS(U)          C_UACU_TERM   LS(V)            LS(W)       \
                           LS(X)         LS(Y)                                                                                                                \
                           >;
            bindings =    <
                           &kp V         &kp V         &kp O         &kp N         &mc_qu                                        &tc_atilo                    \
                                         &kp V         &kp E                                        &tc_oes        &tc_ng        &kp V            &ac_aacu    \
                           &tc_ey                                                                   &kp V          &tc_es        &kp O                        \
                                         &ac_ecir                                                   &kp Y          &kp V         &ac_aacu         &tc_hy      \
                           &ac_aacu      &tc_ou                      &tc_com       \

                           &kp LS(V)     &kp LS(V)     &kp LS(O)     &kp LS(N)     &mc_qu_c                                      &tc_atilo_c                  \
                                         &kp LS(V)     &kp LS(E)                                    &tc_oes_c      &tc_ng_c      &kp LS(V)        &ac_aacu_c  \
                           &tc_ey_c                                                                 &kp LS(V)      &tc_es_c      &kp LS(O)                    \
                                         &ac_ecir_c                                                 &kp LS(Y)      &kp LS(V)     &ac_aacu_c       &tc_hy_c    \
                           &ac_aacu_c    &tc_ou_c                                                                                                             \
                           >;
        };

        THUMB_MACRO(tc_atilo,   &ac_atil &kp O)
        THUMB_MACRO(tc_oes,     &ac_otil &kp E &kp S)
        THUMB_MACRO(tc_es,      &kp E &kp S)
        THUMB_MACRO(tc_ou,      &kp O &kp U)
        THUMB_MACRO(tc_ng,      &kp N &kp G)
        THUMB_MACRO(tc_ey,      &kp E &kp Y)
        THUMB_MACRO(tc_hy,      &kp H &kp Y)
        THUMB_MACRO(tc_com,     &kp C &kp O &kp M)
        THUMB_MACRO(tc_atilo_c, &ac_atil_c &kp LS(O))
        THUMB_MACRO(tc_oes_c,   &ac_otil_c &kp LS(E) &kp LS(S))
        THUMB_MACRO(tc_es_c,    &kp LS(E) &kp LS(S))
        THUMB_MACRO(tc_ou_c,    &kp LS(O) &kp LS(U))
        THUMB_MACRO(tc_ng_c,    &kp LS(N) &kp LS(G))
        THUMB_MACRO(tc_ey_c,    &kp LS(E) &kp LS(Y))
        THUMB_MACRO(tc_hy_c,    &kp LS(H) &kp LS(Y))

        ht_repeat: ht_repeat {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <QUICK_TAP_TERM>;
            flavor = "tap-preferred";
            quick-tap-ms = <0>;
            bindings = <&mo>, <&smart_repeat>;
        };

        // ******************** MAGIC KEY ******************** //

        smart_magic: smart_magic {
            compatible = "zmk,behavior-antecedent-morph";
            label = "smart_magic";
            #binding-cells = <0>;
            max-delay-ms = <ADAPTIVE_KEY_TIMEOUT>;
            defaults = <&labeled_key_repeat>;
            antecedents = <
                           A             AACU_TERM     ATIL_TERM     ACIR_TERM     AGRV_TERM       B             C               C_CEDIL         D           \
                           E             EACU_TERM     ECIR_TERM     F                             H             I               IACU_TERM       J           \
                           K             L             M             N                             OACU_TERM     OTIL_TERM       OCIR_TERM       P           \
                                         QU_TERM       R             S             T               U             UACU_TERM       V               W           \
                           X                                         DOT                                                                                     \

                           LS(A)         C_AACU_TERM   C_ATIL_TERM   C_ACIR_TERM   C_AGRV_TERM     LS(B)         LS(C)           LS(C_CEDIL)     LS(D)       \
                           LS(E)         C_EACU_TERM   C_ECIR_TERM   LS(F)                         LS(H)         LS(I)           C_IACU_TERM     LS(J)       \
                           LS(K)         LS(L)         LS(M)         LS(N)                         C_OACU_TERM   C_OTIL_TERM     C_OCIR_TERM     LS(P)       \
                                         C_QU_TERM     LS(R)         LS(S)         LS(T)           LS(U)         C_UACU_TERM     LS(V)           LS(W)       \
                           LS(X)                                                                                                                             \
                           >;
            bindings =    <
                           &kp O         &kp X         &kp O         &kp M         &mc_qu          &kp Y         &kp S           &tc_otiles      &kp Y       \
                           &kp U         &kp U         &kp X         &kp Y                         &kp R         &tc_smart_i     &kp Z           &ac_atil    \
                           &kp W         &kp H         &kp S         &kp F                         &kp X         &kp E           &kp V           &kp T       \
                                         &ac_iacu      &kp L         &kp S         &kp W           &kp E         &kp Z           &ac_iacu        &kp K       \
                           &ac_iacu                                  &kp SLASH                                                                               \

                           &kp LS(O)     &kp LS(X)     &kp LS(O)     &kp LS(M)     &mc_qu_c        &kp LS(Y)     &kp LS(S)       &tc_otiles_c    &kp LS(Y)   \
                           &kp LS(U)     &kp LS(U)     &kp LS(X)     &kp LS(Y)                     &kp LS(R)     &tc_smart_i     &kp LS(Z)       &ac_atil_c  \
                           &kp LS(W)     &kp LS(H)     &kp LS(S)     &kp LS(F)                     &kp LS(X)     &kp LS(E)       &kp LS(V)       &kp LS(T)   \
                                         &ac_iacu_c    &kp LS(L)     &kp LS(C)     &kp LS(W)       &kp LS(E)     &kp LS(Z)       &ac_iacu_c      &kp LS(K)   \
                           &ac_iacu_c                                                                                                                        \
                           >;
        };


        THUMB_MACRO(tc_otiles,   &ac_otil &kp E &kp S)
        THUMB_MACRO(tc_otiles_c, &ac_otil_c &kp LS(E) &kp LS(S))
        THUMB_MACRO(tc_smart_i,  &kp BACKSPACE &kp LS(I) &kp QUOT &kp SPACE)

        ht_magic: ht_magic {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <QUICK_TAP_TERM>;
            flavor = "tap-preferred";
            quick-tap-ms = <0>;
            bindings = <&mo>, <&smart_magic>;
        };

        // ******************** SMART CASES ******************** //

        THUMB_MACRO(mc_sl_alpha2,  &sl ALPHA2)

        msl_a2: msl_a2 {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <QUICK_TAP_TERM>;
            flavor = "tap-preferred";
            quick-tap-ms = <0>;
            bindings = <&mo>, <&mc_sl_alpha2>;
        };

        THUMB_MORPH(sc_numpad,     MOD_LALT, &to NUMPAD                , &sc_caps_lock   )
        THUMB_MORPH(sc_camelcase,  MOD_LSFT, &to CAMEL_CASE            , &sc_numword     )
        THUMB_MORPH(sc_caps_word,  MOD_LCTL, &custom_caps_word         , &msl_a2 RAISE 0 )
        THUMB_MORPH(sc_snakecase,  MOD_LGUI, &to SNAKE_CASE            , &sc_camelcase   )

        THUMB_MORPH(sc_numword,    MOD_RALT, &custom_num_word          , &sc_numpad      )
        THUMB_MORPH(sc_kebabcase,  MOD_RGUI, &to KEBAB_CASE            , &sc_snakecase   )
        THUMB_MORPH(sc_caps_lock,  MOD_RCTL, &to CASE_A1               , &sc_caps_word   )
        THUMB_MORPH(sc_slashcase,  MOD_RSFT, &to SLASH_CASE            , &sc_kebabcase   )

        THUMB_MACRO(tc_shift_camel,  &to CAMEL_CASE &sl SHIFT_A1)
        THUMB_COMBO_MORPH(sc_pascalcase, MOD_LCTL, MOD_LSFT, &tc_shift_camel, &sc_slashcase)

        THUMB_MACRO(tc_strong_snakecase,  &tog SHIFT_A1 &tog SNAKE_CASE)
        THUMB_COMBO_MORPH(sc_strong_snake_case, MOD_LCTL, MOD_LGUI, &tc_strong_snakecase, &sc_pascalcase)
        
        THUMB_MACRO(tc_strong_kebabcase,  &tog SHIFT_A1 &tog KEBAB_CASE)
        THUMB_COMBO_MORPH(sc_strong_kebab_case, MOD_RCTL, MOD_RGUI, &tc_strong_kebabcase, &sc_strong_snake_case)
        
        THUMB_MACRO(tc_strong_slashcase,  &tog SHIFT_A1 &tog SLASH_CASE)
        THUMB_COMBO_MORPH(sc_strong_slash_case, MOD_RCTL, MOD_RSFT, &tc_strong_slashcase, &sc_strong_kebab_case)
        
        #define msl_raise_smart sc_strong_slash_case

        THUMB_MACRO(mc_msk_camel, &sl SHIFT_A1)
        THUMB_MACRO(mc_msk_snake, &kp UNDERSCORE &sl SPACING)
        THUMB_MACRO(mc_msk_kebab, &kp MINUS &sl SPACING)
        THUMB_MACRO(mc_msk_slash, &kp SLASH &sl SPACING)
        THUMB_MACRO(mc_msk_space, &kp SPACE &to ALPHA1)
        THUMB_MACRO(mc_msk_space_b, &kp BACKSPACE &kp SPACE &to ALPHA1)

        msk_unds: msk_unds {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <QUICK_TAP_TERM>;
            flavor = "tap-preferred";
            quick-tap-ms = <0>;
            bindings = <&mo>, <&mc_msk_snake>;
        };

        msk_dash: msk_dash {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <QUICK_TAP_TERM>;
            flavor = "tap-preferred";
            quick-tap-ms = <0>;
            bindings = <&mo>, <&mc_msk_kebab>;
        };

        msk_slash: msk_slash {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <QUICK_TAP_TERM>;
            flavor = "tap-preferred";
            quick-tap-ms = <0>;
            bindings = <&mo>, <&mc_msk_slash>;
        };

        msk_spcb: msk_spcb {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <QUICK_TAP_TERM>;
            flavor = "tap-preferred";
            quick-tap-ms = <0>;
            bindings = <&mo>, <&mc_msk_space_b>;
        };

        msk_sft: msk_sft {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <QUICK_TAP_TERM>;
            flavor = "tap-preferred";
            quick-tap-ms = <0>;
            bindings = <&mo>, <&mc_msk_camel>;
        };

        msk_spc: msk_spc {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <QUICK_TAP_TERM>;
            flavor = "tap-preferred";
            quick-tap-ms = <0>;
            bindings = <&mo>, <&mc_msk_space>;
        };

    };
};