# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_CYGNUS_LEFT
    def_bool $(shields_list_contains,cygnus_left)

config SHIELD_CYGNUS_RIGHT
    def_bool $(shields_list_contains,cygnus_right)