/*
*
* Copyright (c) 2022 Rafael Romão
* SPDX-License-Identifier: MIT
*
*/

/ {
    shortcuts {
        MACRO(mc_os,                     &macro_tap &kp L)
        
        // Common

        MACRO(mc_fullscr,                &macro_tap &kp F11)
        MACRO(mc_find,                   &macro_tap &kp LC(F))
        MACRO(mc_selall,                 &macro_tap &kp LC(A))
        MACRO(mc_undo,                   &macro_tap &kp LC(Z))
        MACRO(mc_copy,                   &macro_tap &kp LC(C))
        MACRO(mc_shift_copy,             &macro_tap &kp LS(LC(C)))
        MACRO(mc_selcopy,                &macro_tap &kp LC(A) &kp LC(C))
        MACRO(mc_shift_selcopy,          &macro_tap &kp LS(LC(A)) &kp LS(LC(C)))
        MACRO(mc_paste,                  &macro_tap &kp LC(V))
        MACRO(mc_shift_paste,            &macro_tap &kp LS(LC(V)))
        MACRO(mc_selpaste,               &macro_tap &kp LC(A) &kp LC(V))
        MACRO(mc_shift_selpaste,         &macro_tap &kp LS(LC(A)) &kp LS(LC(V)))
        MACRO(mc_save,                   &macro_tap &kp LC(S))
        MACRO(mc_save_esc,               &macro_tap &kp LC(S) &kp ESC)
        MACRO(mc_comment,                &macro_tap &kp LC(SLASH))

        // Custom

        MACRO(mc_lock,                   &macro_tap &kp LG(L))

        MACRO(mc_refresh,                &macro_tap &kp F5)
        MACRO(mc_close,                  &macro_tap &kp LC(W))
        MACRO(mc_reopen,                 &macro_tap &kp LC(LS(T)))

        MACRO(mc_zoom_out,               &macro_tap &kp LC(MINUS))
        MACRO(mc_zoom_in,                &macro_tap &kp LC(PLUS))
        MACRO(mc_reset_zoom,             &macro_tap &kp LC(N0))

        LAYERTAP_TP(lt_zoom_out,         &mc_zoom_out)
        
        MACRO(mc_swapper,                &macro_tap &kp LA(TAB))
        MACRO(mc_launcher,               &macro_tap &kp LA(SPACE))
        MACRO(mc_tabs,                   &macro_tap &kp LC(LS(A)))

        MACRO(mc_files,                  &macro_tap &kp LG(E))

        MACRO(mc_hand,                   &macro_tap &kp LC(LA(H)))
        MACRO(mc_mic,                    &macro_tap &kp LC(LA(D)))
        MACRO(mc_cam,                    &macro_tap &kp LC(LA(E)))
        MACRO(mc_screenshot,             &macro_tap &kp LC(LA(S)))
        MACRO(mc_emoji,                  &macro_tap &kp LC(LA(J)))
        MACRO(mc_calc,                   &macro_tap &kp LC(LA(C)))

        // Navigation

        MACRO(mc_prev_word,              &macro_tap &kp LC(LEFT))
        MACRO(mc_next_word,              &macro_tap &kp LC(RIGHT))
        MACRO(mc_del_word,               &macro_press &kp LC(DELETE) &macro_pause_for_release &macro_release &kp LC(DELETE))
        MACRO(mc_bsp_word,               &macro_press &kp LC(BACKSPACE) &macro_pause_for_release &macro_release &kp LC(BACKSPACE))

        // Meh and Hyper

        MACRO(mc_meh_comma,              &macro_tap &kp LC(LA(LS(COMMA))))
        MODTAP_TP(mt_meh_comm,           &mc_meh_comma)
        MACRO(mc_meh_dot,                &macro_tap &kp LC(LA(LS(DOT))))
        MODTAP_TP(mt_meh_dot,            &mc_meh_dot)
   };
};
