/*
 *
 * Copyright (c) 2022 Rafael Romão
 * SPDX-License-Identifier: MIT
 *
 */

#define ALPHA1 0
#define CASE_A1 1
#define NUMPAD 2
#define SHORTCUTS 3
#define SHORTCUTS_EXT 4
#define NMODS 5
#define ALPHA2 6
#define CASE_A2 7
#define LOWER 8
#define RAISE 9
#define SYMBOLS 10
#define SEN_CASE 11
#define SEN_E1 12
#define SEN_E2 13
#define NAV 14
#define MEDIA 15
#define NAV_F 16
#define LOCK_KB 17
#define SYSTEM 18

#define TAPPING_TERM 150
#define TD_TAPPING_TERM 200
#define QUICK_TAP_TERM 100
#define ADAPTIVE_KEY_TIMEOUT 300

/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LTP LTR LTM LTI LTC │ │ RTC RTI RTM RTR RTP │
  │ LHP LHR LHM LHI LHC │ │ RHC RHI RHM RHR RHP │
  │ LBP LBR LBM LBI LBC │ │ RBC RBI RBM RBR RBP │
  ╰───────╮ L2  L1  L0  │ │ R0  R1  R2  ╭───────╯
          ╰─────────────╯ ╰─────────────╯ 
  ╭─────────────────────╮ ╭─────────────────────╮
  │  0   1   2   3   4  │ │   5   6   7   8   9 │
  │ 10  11  12  13  14  │ │  15  16  17  18  19 │
  │ 20  21  22  23  24  │ │  25  26  27  28  29 │
  ╰──────╮  30  31  32  │ │  33  34  35 ╭───────╯
         ╰──────────────╯ ╰─────────────╯

*/

#define LTP 0   // left-top row
#define LTR 1
#define LTM 2
#define LTI 3
#define LTC 4  

#define RTC 5   // right-top row
#define RTI 6
#define RTM 7
#define RTR 8
#define RTP 9

#define LHP 10  // left-middle row
#define LHR 11
#define LHM 12
#define LHI 13
#define LHC 14

#define RHC 15  // right-middle row
#define RHI 16
#define RHM 17
#define RHR 18
#define RHP 19

#define LBP 20  // left-bottom row
#define LBR 21
#define LBM 22
#define LBI 23
#define LBC 24

#define RBC 25  // right-bottom row
#define RBI 26
#define RBM 27
#define RBR 28
#define RBP 29

#define L2  30  // left thumb keys
#define L1  31
#define L0  32

#define R0  33  // right thumb keys
#define R1  34
#define R2  35