/*
*
* Copyright (c) 2022 Rafael Romão
* SPDX-License-Identifier: MIT
*
*/

#include <dt-bindings/zmk/dynamic-macros.h>
#include <dt-bindings/zmk/mouse.h>
#include "keycodes.h"
#include "config.dtsi"

#include "../features/accents.dtsi"
#include "../features/thumbs.dtsi"
#include "../features/magic.dtsi"
#include "../features/swapper.dtsi"
#include "../features/symbols.dtsi"
#include "../features/shortcuts.dtsi"
#include "../features/combos.dtsi"
#include "../features/leader.dtsi"
#if __has_include("../secret.dtsi")
#include "../secret.dtsi"
#endif

/ {
        keymap {
                compatible = "zmk,keymap";
                default_layer {
                     display-name = "ROMAK";
                     bindings = <
   &kp Q               &kp B               &kp M               &kp G               &kp K               &kp X               &kp L               &kp O               &kp U               &kp Y
   &lt SHORTCUTS D     &mt LSHFT N         &mt LCTRL S         &mt LGUI T          &kp W               &kp Z               &mt RGUI R          &mt RCTRL A         &mt RSHFT E         &lt SHORTCUTS I      
   &trans              &mt RALT F          &th_c 0 0           &mt LALT P          &kp V               &kp J               &ht_magic RALT 0    &th_comma 0 0       &th_dot 0 0         &trans
                                           &none               &ht_repeat NAV 0    &ltn LOWER SPACE    &msl_raise_smart    &ht_shift MEDIA 0   &none
                        >;
                };
                camel_case_layer {
                     display-name = "CAMEL";
                     bindings = <
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans    
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans  
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans 
                                           &trans              &trans              &msk_sft LOWER 0    &trans              &trans              &trans
                           >;
                };
                shifted_alpha1_layer {
                     display-name = "CASE";
                     bindings = <
   &trans              &kp RS(B)           &kp RS(M)           &kp RS(G)           &kp RS(K)           &kp RS(X)           &kp RS(L)           &kp RS(O)           &kp RS(U)           &trans
   &lt SHORTCUTS RS(D) &mt LSHFT RS(N)     &mt LCTRL RS(S)     &mt LGUI RS(T)      &kp RS(W)           &kp RS(Z)           &mt RGUI RS(R)      &mt RCTRL RS(A)     &mt RSHFT RS(E)     &lt SHORTCUTS RS(I) 
   &trans              &mt RALT RS(F)      &kp RS(C)           &mt LALT RS(P)      &kp RS(V)           &kp RS(J)           &ht_sft_h RALT 0    &th_comma 0 0       &th_dot 0 0         &trans
                                           &trans              &trans              &msk_spc LOWER 0    &th_sft_a2 RAISE 0  &ht_caps MEDIA 0    &trans
                        >;
                };

                snake_case_layer {
                     display-name = "SNAKE";
                     bindings = <
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans    
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans  
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans 
                                           &trans              &trans              &msk_unds LOWER 0   &trans              &trans              &trans
                           >;
                };
                kebab_case_layer {
                     display-name = "KEBAB";
                     bindings = <
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans    
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans  
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans 
                                           &trans              &trans              &msk_dash LOWER 0   &trans              &trans              &trans
                           >;
                };
                slash_case_layer {
                     display-name = "SLASH";
                     bindings = <
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans    
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans  
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans 
                                           &trans              &trans              &msk_slash LOWER 0  &trans              &trans              &trans
                           >;
                };
                spacing_layer {
                     display-name = "SPACE";
                     bindings = <
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans    
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans  
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans 
                                           &trans              &trans              &msk_spcb LOWER 0   &trans              &trans              &trans
                           >;
                };

                capsword_layer {
                     display-name = "CASE";
                     bindings = <
   &trans              &kp LS(B)           &kp LS(M)           &kp LS(G)           &kp LS(K)           &kp LS(X)           &kp LS(L)           &kp LS(O)           &kp LS(U)           &none
   &lt SHORTCUTS LS(D) &mt LSHFT LS(N)     &mt LCTRL LS(S)     &mt LGUI LS(T)      &kp LS(W)           &kp LS(Z)           &mt RGUI LS(R)      &mt RCTRL LS(A)     &mt RSHFT LS(E)     &lt SHORTCUTS LS(I) 
   &trans              &mt RALT LS(F)      &kp LS(C)           &mt LALT LS(P)      &kp LS(V)           &kp LS(J)           &ht_magic RALT 0    &th_comma 0 0       &th_dot 0 0         &trans
                                           &trans              &trans              &trans              &th_case_a2 RAISE 0 &th_cancel MEDIA 0  &trans
                        >;
                };
                capslock_layer {
                     display-name = "CASE";
                     bindings = <
   &trans              &kp LS(B)           &kp LS(M)           &kp LS(G)           &kp LS(K)           &kp LS(X)           &kp LS(L)           &kp LS(O)           &kp LS(U)           &none
   &lt SHORTCUTS LS(D) &mt LSHFT LS(N)     &mt LCTRL LS(S)     &mt LGUI LS(T)      &kp LS(W)           &kp LS(Z)           &mt RGUI LS(R)      &mt RCTRL LS(A)     &mt RSHFT LS(E)     &lt SHORTCUTS LS(I) 
   &trans              &mt RALT LS(F)      &kp LS(C)           &mt LALT LS(P)      &kp LS(V)           &kp LS(J)           &ht_magic RALT 0    &th_comma 0 0       &th_dot 0 0         &trans
                                           &trans              &trans              &th_sp_caps LOWER 0 &th_case_a2 RAISE 0 &th_cancel MEDIA 0  &trans
                           >;
                };
                lower_layer {
                     display-name = "LOWER";
                     bindings = <
   &trans              &td_lbrc            &td_rbrc            &th_bsl 0 0         &none               &none               &mc_n7              &mc_n8              &mc_n9              &none
   &lt NAV AT          &td_lpar            &td_rpar            &th_dqo 0 0         &none               &none               &mc_n4              &mc_n5              &mc_n6              &kp DOT  
   &trans              &td_lbkt            &td_rbkt            &th_qmark 0 0       &none               &none               &mc_n1              &mc_n2              &mc_n3              &trans
                                           &trans              &sl RAISE           &trans              &lt RAISE SPACE     &th_n0 MEDIA 0      &trans
                           >;
                };
                raise_layer {
                     display-name = "RAISE";
                     bindings = <
   &none               &kp F9              &kp F8              &kp F7              &none               &none               &th_perc 0 0        &th_eql 0 0         &th_colon 0 0       &none
   &none               &kp F6              &kp F5              &kp F4              &none               &none               &th_mins 0 0        &th_plus 0 0        &th_slash 0 0       &lt SHORTCUTS STAR  
   &none               &kp F3              &kp F2              &kp F1              &none               &none               &th_excl 0 0        &th_lt 0 0          &th_gt 0 0          &trans
                                           &trans              &key_repeat         &lt LOW_CP SPACE    &trans              &tog NUMPAD         &trans       
                           >;
                };
                sentence_case_layer {
                     display-name = "CASE";
                     bindings = <
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans    
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans  
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans 
                                           &trans              &trans              &th_sp_ns LOW_CP 0  &trans              &th_nsen MEDIA 0    &trans
                           >;
                };
                sentence_case_ext1_layer {
                     display-name = "CASE";
                     bindings = <
   &kp RS(Q)           &kp RS(B)           &kp RS(M)           &kp RS(G)           &kp RS(K)           &kp RS(X)           &kp RS(L)           &kp RS(O)           &kp RS(U)           &kp RS(Y) 
   &kp RS(D)           &mt LSHFT RS(N)     &mt LCTRL RS(S)     &mt LGUI RS(T)      &kp RS(W)           &kp RS(Z)           &mt RGUI RS(R)      &mt RCTRL RS(A)     &mt RSHFT RS(E)     &kp RS(I) 
   &trans              &mt RALT RS(F)      &kp RS(C)           &mt LALT RS(P)      &kp RS(V)           &kp RS(J)           &ht_sft_h RALT 0    &th_comma 0 0       &th_dot 0 0         &trans
                                           &trans              &th_cancel NAV 0    &th_sp_ns LOW_CP 0  &msl RAI_CP SEN_E2  &th_nsen MEDIA 0    &trans
                           >;
                };
                sentence_case_ext2_layer {
                     display-name = "CASE";
                     bindings = <
   &none               &kp RS(Q)           &mc_qu_s            &kp RS(K)           &none               &none               &ac_ocir_c          &ac_ecir_c          &ac_acir_c          &none
   &kp RS(Y)           &kp RS(Z)           &kp RS(X)           &kp RS(W)           &none               &none               &ac_atil_c          &ac_eacu_c          &ac_aacu_c          &ac_iacu_c 
   &trans              &kp RS(J)           &mc_ced_c           &kp RS(V)           &none               &none               &ac_otil_c          &ac_oacu_c          &ac_uacu_c          &ac_iacu_c
                                           &trans              &kp RS(H)           &th_sp_ns LOW_CP 0  &msl RAI_CP SEN_E2  &th_nsen MEDIA 0    &trans
                           >;
                };
                numpad_layer {
                     display-name = "NUMPAD";
                     bindings = <
   &none               &kp ESC             &mkp LCLK           &mkp RCLK           &none               &none               &mc_n7              &mc_n8              &mc_n9              &none
   &mo NAV             &mmv MOVE_LEFT      &mmv MOVE_UP        &mmv MOVE_RIGHT     &none               &none               &mc_n4              &mc_n5              &mc_n6              &lt SHORTCUTS DOT 
   &none               &msc SCRL_DOWN      &mmv MOVE_DOWN      &msc SCRL_UP        &none               &none               &mc_n1              &mc_n2              &mc_n3              &trans
                                           &trans              &ht_repeat NAV 0    &trans              &ltn LOW_CP SPACE   &th_n0 MEDIA 0      &trans
                           >;
                };
                shortcuts_layer {
                     display-name = "SHORTCUTS";
                     bindings = <
   &none               &kp ESC             &mc_files           &mc_preview         &none               &none               &mc_selw            &kp ENTER           &kp ESC             &none    
   &mo SYSTEM          &kp RGUI            &mc_app_swapper     &th_tabs LGUI 0     &none               &none               &mc_seln            &mm_down_minus      &mm_up_plus         &mo SYSTEM
   &none               &mc_term            &mc_clip            &mc_calc            &none               &none               &mc_selh            &ht_ref_clo_z0 0 0  &td_dynmacro        &trans
                                           &trans              &mst FUSION FUSION  &mst NMODS NMODS    &mst CODING CODING  &mst NAV NAV_F      &trans
                           >;
                };
                shortcuts_ext_1_layer {
                     display-name = "SHORTCUTS";
                     bindings = <
   &trans              &trans              &trans              &trans              &trans              &trans              &mc_ext_sel         &trans              &trans              &trans    
   &trans              &trans              &trans              &trans              &trans              &trans              &th_ext_sel LGUI 0  &trans              &trans              &trans  
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans 
                                           &trans              &trans              &trans              &trans              &trans              &trans
                           >;
                };
                shortcuts_ext_2_layer {
                     display-name = "SHORTCUTS";
                     bindings = <
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans              &trans    
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &sw_win_b           &sw_win_f           &trans  
   &trans              &trans              &trans              &trans              &trans              &trans              &trans              &mc_app_quit        &trans              &trans 
                                           &trans              &trans              &trans              &trans              &trans              &trans
                           >;
                };
                coding_layer {
                     display-name = "CODING";
                     bindings = <
   &none               &kp ESC             &mm_build           &mm_break           &none               &none               &mm_typematch       &kp ENTER           &kp ESC             &none    
   &mm_project         &th_find LSHFT 0    &mm_run             &mm_debug           &none               &none               &mm_actions         &mm_down            &mt RSHFT UP        &none
   &trans              &mm_recent          &mm_swapper         &mm_usages          &none               &none               &mm_docs            &mm_refac           &mc_comment         &none
                                           &trans              &th_step_into NAV 0 &mm_step_over       &trans              &trans              &trans
                           >;
                };
                no_mods_layer {
                     display-name = "NO MODS";
                     bindings = <
   &kp Q               &kp B               &kp M               &kp G               &kp K               &kp X               &kp L               &kp O               &kp U               &kp Y
   &kp D               &kp N               &kp S               &kp T               &kp W               &kp Z               &kp R               &kp A               &kp E               &kp I 
   &trans              &kp F               &kp C               &kp P               &kp V               &kp J               &kp H               &kp COMMA           &kp DOT             &trans
                                           &none               &key_repeat         &trans              &msl ALPHA2 ALPHA2  &sk LSHFT           &none
                           >;
                };
                alpha2_layer {
                     display-name = "ALPHA2";
                     bindings = <
   &none               &kp Q               &mc_qu              &kp K               &none               &none               &ac_ocir            &ac_ecir            &ac_acir            &none
   &enforced_y         &kp Z               &kp X               &kp W               &none               &none               &ac_atil            &ac_eacu            &ac_aacu            &ac_iacu 
   &trans              &kp J               &mc_ced             &reversed_magic     &none               &none               &ac_otil            &ac_oacu            &ac_uacu            &trans
                                           &trans              &kp H               &sl LOW_CP          &kp SPACE           &mc_sqo             &trans
                           >;
                };
                ccedil_layer {
                     display-name = "Ç EXT";
                     bindings = <
   &trans              &trans              &trans              &trans              &trans              &trans              &ac_ocir            &trans              &trans              &trans    
   &trans              &trans              &trans              &trans              &trans              &trans              &ac_atil            &trans              &ac_aacu            &trans  
   &trans              &trans              &trans              &trans              &trans              &trans              &ac_otil            &ac_oacu            &ac_uacu            &trans 
                                           &trans              &trans              &trans              &kp BACKSPACE       &trans              &trans
                           >;
                };
                shifted_alpha2_layer {
                     display-name = "CASE";
                     bindings = <
   &none               &kp RS(Q)           &mc_qu_s            &kp RS(K)           &none               &none               &ac_ocir_s          &ac_ecir_s          &ac_acir_s          &none
   &kp RS(Y)           &kp RS(Z)           &kp RS(X)           &kp RS(W)           &none               &none               &ac_atil_s          &ac_eacu_s          &ac_aacu_s          &ac_iacu_s 
   &trans              &kp RS(J)           &mc_ced_s           &kp RS(V)           &none               &none               &ac_otil_s          &ac_oacu_s          &ac_uacu_s          &trans 
                                           &trans              &kp RS(H)           &sl LOW_CP          &trans              &mc_sqo_c           &trans
                           >;
                };
                case_alpha2_layer {
                     display-name = "CASE";
                     bindings = <
   &none               &kp LS(Q)           &mc_qu_c            &kp LS(K)           &none               &none               &ac_ocir_c          &ac_ecir_c          &ac_acir_c          &none
   &enforced_y_c       &kp LS(Z)           &kp LS(X)           &kp LS(W)           &none               &none               &ac_atil_c          &ac_eacu_c          &ac_aacu_c          &ac_iacu_c 
   &trans              &kp LS(J)           &mc_ced_c           &reversed_magic_c   &none               &none               &ac_otil_c          &ac_oacu_c          &ac_uacu_c          &trans
                                           &trans              &kp LS(H)           &sl LOW_CP          &trans              &mc_sqo_c           &trans
                           >;
                };
                case_ccedil_layer {
                     display-name = "CASE";
                     bindings = <
   &trans              &trans              &trans              &trans              &trans              &trans              &ac_ocir_c          &trans              &trans              &trans    
   &trans              &trans              &trans              &trans              &trans              &trans              &ac_atil_c          &trans              &ac_aacu_c          &trans  
   &trans              &trans              &trans              &trans              &trans              &trans              &ac_otil_c          &ac_oacu_c          &ac_uacu_c          &trans 
                                           &trans              &trans              &trans              &kp BACKSPACE       &trans              &trans
                           >;
                };
                fusion360_layer {
                     display-name = "FUSION 360";
                     bindings = <
   &trans              &trans              &trans              &trans              &trans              &none               &kp L               &kp O               &kp M               &none
   &trans              &trans              &trans              &trans              &trans              &none               &kp R               &kp S               &kp E               &lt NAV I
   &trans              &trans              &trans              &trans              &trans              &none               &kp H               &kp C               &kp F               &none
                                           &trans              &trans              &trans              &mc_orbit           &mc_pan             &none
                           >;
                };
                navigation_layer {
                     display-name = "NAV";
                     bindings = <
   &none               &mc_prevword        &kp PAGE_UP         &mc_nextword        &none               &none               &kp TAB             &kp ENTER           &kp ESC             &none
   &mo LOW_CP          &kp LSHFT           &kp LCTRL           &kp LGUI            &none               &none               &kp LEFT            &kp DOWN            &kp UP              &kp RIGHT
   &none               &kp RALT            &kp PAGE_DOWN       &kp LALT            &none               &none               &kp DEL             &kp HOME            &kp END             &trans
                                           &trans              &trans              &trans              &kp SPACE           &mo MEDIA           &trans
                        >;
                };
                lower_copy_layer {
                     display-name = "LOWER";
                     bindings = <
   &trans              &td_lbrc            &td_rbrc            &th_bsl 0 0         &none               &none               &mc_n7              &mc_n8              &mc_n9              &none
   &lt NAV_F AT        &td_lpar            &td_rpar            &th_dqo 0 0         &none               &none               &mc_n4              &mc_n5              &mc_n6              &kp DOT  
   &trans              &td_lbkt            &td_rbkt            &th_qmark 0 0       &none               &none               &mc_n1              &mc_n2              &mc_n3              &trans
                                           &trans              &sl RAI_CP          &trans              &lt RAI_CP SPACE    &th_n0 MEDIA 0      &trans
                           >;
                };
                raise_copy_layer {
                     display-name = "RAISE";
                     bindings = <
   &none               &kp F9              &kp F8              &kp F7              &none               &none               &th_perc 0 0        &th_eql 0 0         &th_colon 0 0       &none
   &none               &kp F6              &kp F5              &kp F4              &none               &none               &th_mins 0 0        &th_plus 0 0        &th_slash 0 0       &lt SHORTCUTS STAR  
   &none               &kp F3              &kp F2              &kp F1              &none               &none               &th_excl 0 0        &th_lt 0 0          &th_gt 0 0          &trans
                                           &trans              &key_repeat         &kp SPACE           &kp SPACE           &trans              &trans       
                           >;
                };
                media_layer {
                     display-name = "MEDIA";
                     bindings = <
   &none               &kp ESC             &mkp LCLK           &mkp RCLK           &none               &none               &kp TAB             &kp ENTER           &kp BACKSPACE       &none
   &none               &mmv MOVE_LEFT      &mmv MOVE_UP        &mmv MOVE_RIGHT     &none               &none               &mc_mic             &mt C_MUTE C_VOL_DN &kp C_VOL_UP        &mc_cam
   &none               &msc SCRL_DOWN      &mmv MOVE_DOWN      &msc SCRL_UP        &none               &none               &kp C_PP            &kp C_PREV          &kp C_NEXT          &trans
                                           &trans              &mo NAV_F           &trans              &trans              &trans              &trans
                           >;
                };
                fixed_navigation_layer {
                     display-name = "NAV";
                     bindings = <
   &none               &mc_prevword        &kp PAGE_UP         &mc_nextword        &none               &none               &kp TAB             &kp ENTER           &kp ESC             &none
   &mc_shortcuts       &kp LSHFT           &kp LCTRL           &kp LGUI            &none               &none               &kp LEFT            &kp DOWN            &kp UP              &kp RIGHT
   &none               &kp RALT            &kp PAGE_DOWN       &kp LALT            &none               &none               &kp DEL             &kp HOME            &kp END             &trans
                                           &trans              &trans              &kp SPACE           &kp SPACE           &to ALPHA1          &trans
                           >;
                };
                system_layer {
                     display-name = "SYSTEM";
                     bindings = <
   &none               &none               &none               &sys_reset          &none               &none               &sys_reset          &kp INS             &none               &none 
   &none               &none               &none               &bootloader         &none               &none               &bootloader         &kp C_SLEEP         &none               &none      
   &none               &none               &none               &none               &none               &none               &none               &mc_lock            &none               &none
                                           &trans              &bt BT_CLR          &bt BT_SEL 0        &bt BT_PRV          &bt BT_NXT          &trans
                        >;
                };
        };
};
