/*
*
* Copyright (c) 2022 Rafael Romão
* SPDX-License-Identifier: MIT
*
*/

#undef zmk_mouse_default_move_val
#undef zmk_mouse_default_scrl_val
#define zmk_mouse_default_move_val 1000  // 600
#define zmk_mouse_default_scrl_val 20    // 10

&mmv {
  acceleration-exponent = <1>;      // 1
  time-to-max-speed-ms = <400>;     // 300
  delay-ms = <0>;                   // 0
};

&msc {
  acceleration-exponent = <1>;      // 0
  time-to-max-speed-ms = <100>;     // 300
  delay-ms = <0>;                   // 0
};

